In [137]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import requests
from bs4 import BeautifulSoup
from pandas.io import gbq
from google.cloud import bigquery
from google.oauth2 import service_account

# Google Database BigQuery Code (Start here) >>>

In [138]:
# !pip install --upgrade google-cloud-bigquery
# !pip install pandas-gbq
# !pip install google-cloud-bigquery

In [139]:
# Vic >>>
credentials = service_account.Credentials.from_service_account_file("../../p5_cred.json")
project_id = 'banded-water-276418'
client = bigquery.Client(credentials= credentials,project='banded-water-276418')

In [140]:
# Bryan >>> 
# credentials = service_account.Credentials.from_service_account_file("project-5-276418-cb78b3cf0b1f.json")
# project_id = 'project-5-276418'
# client = bigquery.Client(credentials= credentials,project='project-5-276418')

In [141]:
# Andrew >>> 
# credentials = service_account.Credentials.from_service_account_file("")
# project_id = ''
# client = bigquery.Client(credentials= credentials,project='')

# Master Hurricane List >>>

In [142]:
hurricanes = pd.read_csv("../datasets/fip_codes_years.csv")
hurricanes.head(2)

,fip_code,county,Impact,state,hurricane,month,q_0,q_-2,q_-1,q_1,year
0,48201,Harris,Major,TX,Harvey,Sept,3,1,2,4,2017
1,48245,Jefferson,Major,TX,Harvey,Sept,3,1,2,4,2017

In [143]:
hurricanes['hurricane'].value_counts()

Irene      16
Irma       14
Rita       13
Ivan       11
Frances    11
Harvey     10
Wilma       8
Sandy       7
Michael     7
Matthew     7
Katrina     6
Charlie     6
Maria       5
Ike         4
Andrew      4
Name: hurricane, dtype: int64

In [144]:
hurricanes['hurricane'].unique()

array(['Harvey', 'Katrina', 'Maria', 'Andrew', 'Sandy', 'Irma', 'Ike',
       'Wilma', 'Ivan', 'Michael', 'Rita', 'Matthew', 'Charlie',
       'Frances', 'Irene'], dtype=object)

# BigQueries (Hurricanes) >>>

## Harvey

In [191]:
# Harvey >>>
hurricanes.loc[hurricanes['hurricane'] == 'Harvey']

,fip_code,county,Impact,state,hurricane,month,q_0,q_-2,q_-1,q_1,year
0,48201,Harris,Major,TX,Harvey,Sept,3,1,2,4,2017
1,48245,Jefferson,Major,TX,Harvey,Sept,3,1,2,4,2017
2,48167,Galveston,Major,TX,Harvey,Sept,3,1,2,4,2017
3,48039,Brazoria,Major,TX,Harvey,Sept,3,1,2,4,2017
4,48321,Matagorda,Major,TX,Harvey,Sept,3,1,2,4,2017
5,48057,Calhoun,Major,TX,Harvey,Sept,3,1,2,4,2017
6,48007,Aransas,Major,TX,Harvey,Sept,3,1,2,4,2017
7,48409,San Patricio,Major,TX,Harvey,Sept,3,1,2,4,2017
8,48355,Nueces,Major,TX,Harvey,Sept,3,1,2,4,2017
9,48273,Kleberg,Major,TX,Harvey,Sept,3,1,2,4,2017

In [192]:
# Harvey >>>

# Q -2
harvey_1 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2017_q1` AS b
WHERE  (b.area_fips = '48201' OR 
        b.area_fips = '48245' OR 
        b.area_fips = '48167' OR 
        b.area_fips = '48039' OR 
        b.area_fips = '48321' OR
        b.area_fips = '48007' OR
        b.area_fips = '48409' OR
        b.area_fips = '48355' OR
        b.area_fips = '48273')
"""
# Q -1
harvey_2 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2017_q2` AS b
WHERE  (b.area_fips = '48201' OR 
        b.area_fips = '48245' OR 
        b.area_fips = '48167' OR 
        b.area_fips = '48039' OR 
        b.area_fips = '48321' OR
        b.area_fips = '48007' OR
        b.area_fips = '48409' OR
        b.area_fips = '48355' OR
        b.area_fips = '48273')
"""
# Q 0
harvey_3 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2017_q3` AS b
WHERE  (b.area_fips = '48201' OR 
        b.area_fips = '48245' OR 
        b.area_fips = '48167' OR 
        b.area_fips = '48039' OR 
        b.area_fips = '48321' OR
        b.area_fips = '48007' OR
        b.area_fips = '48409' OR
        b.area_fips = '48355' OR
        b.area_fips = '48273')
"""
# Q 1
harvey_4 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2017_q4` AS b
WHERE  (b.area_fips = '48201' OR 
        b.area_fips = '48245' OR 
        b.area_fips = '48167' OR 
        b.area_fips = '48039' OR 
        b.area_fips = '48321' OR
        b.area_fips = '48007' OR
        b.area_fips = '48409' OR
        b.area_fips = '48355' OR
        b.area_fips = '48273')
"""

harvey_q1 = gbq.read_gbq(harvey_1, project_id=project_id)  # Edit Hurricane Here.
harvey_q1['quarter'] = -2
harvey_q2 = gbq.read_gbq(harvey_2, project_id=project_id)
harvey_q2['quarter'] = -1
harvey_q3 = gbq.read_gbq(harvey_3, project_id=project_id)
harvey_q3['quarter'] = 0
harvey_q4 = gbq.read_gbq(harvey_4, project_id=project_id)
harvey_q4['quarter'] = 1

harvey_df = pd.concat([harvey_q1, harvey_q2, harvey_q3, harvey_q4], axis=1)
harvey_df['geoid'] = 'Harvey'
harvey_df.to_csv('../datasets/harvey.csv', index=False)

Downloading: 100%|██████████| 9/9 [00:00<00:00, 36.21rows/s]
Downloading: 100%|██████████| 9/9 [00:00<00:00, 34.90rows/s]
Downloading: 100%|██████████| 9/9 [00:00<00:00, 37.50rows/s]
Downloading: 100%|██████████| 9/9 [00:00<00:00, 42.79rows/s]

In [193]:
harvey_df

,geoid,area_fips,qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,month3_emplvl_11_agriculture_forestry_fishing_and_hunting,lq_avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,lq_qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,lq_month3_emplvl_11_agriculture_forestry_fishing_and_hunting,qtrly_estabs_1024_professional_and_business_services,avg_wkly_wage_1024_professional_and_business_services,...,lq_avg_wkly_wage_99_unclassified,lq_qtrly_estabs_99_unclassified,lq_month3_emplvl_99_unclassified,qtrly_estabs_48_49_transportation_and_warehousing,avg_wkly_wage_48_49_transportation_and_warehousing,month3_emplvl_48_49_transportation_and_warehousing,lq_avg_wkly_wage_48_49_transportation_and_warehousing,lq_qtrly_estabs_48_49_transportation_and_warehousing,lq_month3_emplvl_48_49_transportation_and_warehousing,quarter
0,Harvey,48245,51.0,632.0,142.0,0.97,0.81,0.14,868.0,1113.0,...,0.31,0.36,0.36,17.0,1193.0,106.0,1.75,1.08,0.25,1
1,Harvey,48409,72.0,633.0,260.0,1.19,5.89,1.64,146.0,1057.0,...,0.56,0.62,1.07,163.0,954.0,3503.0,1.12,1.05,0.87,1
2,Harvey,48039,51.0,736.0,335.0,1.16,0.83,0.40,874.0,1177.0,...,0.38,0.25,0.53,195.0,944.0,4855.0,0.93,1.34,1.09,1
3,Harvey,48273,15.0,1313.0,323.0,3.12,2.20,3.38,57.0,550.0,...,0.59,0.24,0.57,38.0,1379.0,305.0,1.62,1.35,0.43,1
4,Harvey,48007,3.0,798.0,74.0,2.04,0.44,1.45,74.0,1108.0,...,0.19,0.05,0.00,31.0,1422.0,199.0,1.53,1.48,0.51,1
5,Harvey,48321,105.0,594.0,485.0,0.90,11.74,5.38,86.0,1182.0,...,0.63,0.23,0.32,252.0,1082.0,4429.0,1.29,1.23,0.75,1
6,Harvey,48167,18.0,563.0,103.0,1.04,0.27,0.12,1013.0,953.0,...,0.50,0.66,3.12,14.0,0.0,0.0,0.00,0.90,0.00,1
7,Harvey,48355,108.0,586.0,387.0,1.13,1.22,0.29,1266.0,1069.0,...,0.52,0.43,0.68,190.0,1167.0,2767.0,1.14,1.31,0.69,1
8,Harvey,48201,221.0,833.0,1460.0,1.01,0.18,0.08,23246.0,1812.0,...,0.46,0.48,0.62,3369.0,1442.0,110883.0,1.18,1.18,1.33,1

## Katrina

In [194]:
# Katrina >>>
hurricanes.loc[hurricanes['hurricane'] == 'Katrina']

,fip_code,county,Impact,state,hurricane,month,q_0,q_-2,q_-1,q_1,year
10,22087,St Bernard,Major,LA,Katrina,Aug,3,1,2,4,2005
11,22071,Orleans,Major,LA,Katrina,Aug,3,1,2,4,2005
12,22075,Plaquemines,Major,LA,Katrina,Aug,3,1,2,4,2005
13,22051,St Tammay,Major,LA,Katrina,Aug,3,1,2,4,2005
14,22103,St Charles,Major,LA,Katrina,Aug,3,1,2,4,2005
15,22089,St. Charles Parish,Major,LA,Katrina,Aug,3,1,2,4,2005

In [195]:
# Katrina >>>
# Q -2
katrina_1 = """ 
SELECT *
FROM `bigquery-public-data.bls_qcew.2005_q1` AS b
WHERE  (b.area_fips = '22087' OR 
        b.area_fips = '22071' OR 
        b.area_fips = '22075' OR 
        b.area_fips = '22051' OR 
        b.area_fips = '22103' OR
        b.area_fips = '22089')
"""
# Q -1
katrina_2 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2005_q2` AS b
WHERE  (b.area_fips = '22087' OR 
        b.area_fips = '22071' OR 
        b.area_fips = '22075' OR 
        b.area_fips = '22051' OR 
        b.area_fips = '22103' OR
        b.area_fips = '22089')
"""
# Q 0
katrina_3 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2005_q3` AS b
WHERE  (b.area_fips = '22087' OR 
        b.area_fips = '22071' OR 
        b.area_fips = '22075' OR 
        b.area_fips = '22051' OR 
        b.area_fips = '22103' OR
        b.area_fips = '22089')
"""
# Q1
katrina_4 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2005_q4` AS b
WHERE  (b.area_fips = '22087' OR 
        b.area_fips = '22071' OR 
        b.area_fips = '22075' OR 
        b.area_fips = '22051' OR 
        b.area_fips = '22103' OR
        b.area_fips = '22089')
"""

katrina_q1 = gbq.read_gbq(katrina_1, project_id=project_id)  # Edit Hurricane Here.
katrina_q1['quarter'] = -2
katrina_q2 = gbq.read_gbq(katrina_2, project_id=project_id)
katrina_q2['quarter'] = -1
katrina_q3 = gbq.read_gbq(katrina_3, project_id=project_id)
katrina_q3['quarter'] = 0
katrina_q4 = gbq.read_gbq(katrina_4, project_id=project_id) 
katrina_q3['quarter'] = 1

katrina_df = pd.concat([katrina_q1, katrina_q2, katrina_q3, katrina_q4], axis=1)
katrina_df['geoid'] = 'Katrina'
katrina_df.to_csv('../datasets/katrina.csv', index=False)

Downloading: 100%|██████████| 6/6 [00:00<00:00, 21.33rows/s]
Downloading: 100%|██████████| 6/6 [00:00<00:00, 22.28rows/s]
Downloading: 100%|██████████| 6/6 [00:00<00:00, 20.89rows/s]
Downloading: 100%|██████████| 6/6 [00:00<00:00, 24.45rows/s]

## Maria

In [196]:
# Maria >>>
hurricanes.loc[hurricanes['hurricane'] == 'Maria']

,fip_code,county,Impact,state,hurricane,month,q_0,q_-2,q_-1,q_1,year
16,72127,San Juan,Major,P.R.,Maria,Sept,3,1,2,4,2017
17,72021,Bayamon,Major,P.R.,Maria,Sept,3,1,2,4,2017
18,72013,Arecibo,Major,P.R.,Maria,Sept,3,1,2,4,2017
19,72025,Caguas,Major,P.R.,Maria,Sept,3,1,2,4,2017
20,72113,Ponce,Major,P.R.,Maria,Sept,3,1,2,4,2017

In [197]:
# Maria >>>
# Q -2
maria_1 = """ 
SELECT *
FROM `bigquery-public-data.bls_qcew.2017_q1` AS b
WHERE  (b.area_fips = '72127' OR 
        b.area_fips = '72021' OR 
        b.area_fips = '72013' OR 
        b.area_fips = '72025' OR 
        b.area_fips = '72113')
"""
# Q -1
maria_2 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2017_q2` AS b
WHERE  (b.area_fips = '72127' OR 
        b.area_fips = '72021' OR 
        b.area_fips = '72013' OR 
        b.area_fips = '72025' OR 
        b.area_fips = '72113')
"""
# Q 0
maria_3 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2017_q3` AS b
WHERE  (b.area_fips = '72127' OR 
        b.area_fips = '72021' OR 
        b.area_fips = '72013' OR 
        b.area_fips = '72025' OR 
        b.area_fips = '72113')
"""
# Q 1
maria_4 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2017_q4` AS b
WHERE  (b.area_fips = '72127' OR 
        b.area_fips = '72021' OR 
        b.area_fips = '72013' OR 
        b.area_fips = '72025' OR 
        b.area_fips = '72113')
"""

maria_q1 = gbq.read_gbq(maria_1, project_id=project_id)  # Edit Hurricane Here.
maria_q1['quarter'] = -2
maria_q2 = gbq.read_gbq(maria_2, project_id=project_id)
maria_q2['quarter'] = -1
maria_q3 = gbq.read_gbq(maria_3, project_id=project_id)
maria_q3['quarter'] = 0
maria_q4 = gbq.read_gbq(maria_4, project_id=project_id)
maria_q4['quarter'] = 1

maria_df = pd.concat([maria_q1, maria_q2, maria_q3, maria_q4], axis=1)
maria_df['geoid'] = 'Maria'
maria_df.to_csv('../datasets/maria.csv', index=False)

Downloading: 100%|██████████| 5/5 [00:00<00:00, 17.84rows/s]
Downloading: 100%|██████████| 5/5 [00:00<00:00, 21.92rows/s]
Downloading: 100%|██████████| 5/5 [00:00<00:00, 21.42rows/s]
Downloading: 100%|██████████| 5/5 [00:00<00:00, 24.16rows/s]

## Andrew

In [198]:
hurricanes.loc[hurricanes['hurricane'] == 'Andrew']

,fip_code,county,Impact,state,hurricane,month,q_0,q_-2,q_-1,q_1,year
21,12025,Dade,Major,FL,Andrew,Aug,3,1,2,4,1992
22,12011,Broward,Major,FL,Andrew,Aug,3,1,2,4,1992
23,12099,Palm Beach,Major,FL,Andrew,Aug,3,1,2,4,1992
24,12087,Monroe,Major,FL,Andrew,Aug,3,1,2,4,1992

In [199]:
# Andrew >>>
# Q 0
andrew_1 = """ 
SELECT *
FROM `bigquery-public-data.bls_qcew.1992_q1` AS b
WHERE  (b.area_fips = '12025' OR 
        b.area_fips = '12011' OR 
        b.area_fips = '12099' OR 
        b.area_fips = '12087')
"""
# Q -1 
andrew_2 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.1992_q2` AS b
WHERE  (b.area_fips = '12025' OR 
        b.area_fips = '12011' OR 
        b.area_fips = '12099' OR 
        b.area_fips = '12087')
"""
# Q -2
andrew_3 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.1992_q3` AS b
WHERE  (b.area_fips = '12025' OR 
        b.area_fips = '12011' OR 
        b.area_fips = '12099' OR 
        b.area_fips = '12087')
"""
# Q 1
andrew_4 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.1992_q4` AS b
WHERE  (b.area_fips = '12025' OR 
        b.area_fips = '12011' OR 
        b.area_fips = '12099' OR 
        b.area_fips = '12087')
"""

andrew_q1 = gbq.read_gbq(andrew_1, project_id=project_id)  # Edit Hurricane Here.
andrew_q1['quarter'] = -2
andrew_q2 = gbq.read_gbq(andrew_2, project_id=project_id)
andrew_q2['quarter'] = -1
andrew_q3 = gbq.read_gbq(andrew_3, project_id=project_id)
andrew_q3['quarter'] = 0
andrew_q4 = gbq.read_gbq(andrew_4, project_id=project_id)
andrew_q3['quarter'] = 1

andrew_df = pd.concat([andrew_q1, andrew_q2, andrew_q3, andrew_q4])

andrew_df.to_csv('../datasets/andrew.csv', index=False)

Downloading: 100%|██████████| 3/3 [00:01<00:00,  2.17rows/s]
Downloading: 100%|██████████| 3/3 [00:00<00:00, 10.54rows/s]
Downloading: 100%|██████████| 3/3 [00:00<00:00, 12.03rows/s]
Downloading: 100%|██████████| 3/3 [00:00<00:00, 13.55rows/s]

## Sandy

In [200]:
hurricanes.loc[hurricanes['hurricane'] == 'Sandy']

,fip_code,county,Impact,state,hurricane,month,q_0,q_-2,q_-1,q_1,year
25,36103,Suffolk,Major,NY,Sandy,Oct,4,2,3,1,2012
26,36059,Nassau,Major,NY,Sandy,Oct,4,2,3,1,2012
27,36081,Queens,Major,NY,Sandy,Oct,4,2,3,1,2012
28,36005,Bronx,Major,NY,Sandy,Oct,4,2,3,1,2012
29,36647,Kings,Major,NY,Sandy,Oct,4,2,3,1,2012
30,36119,Westchester,Major,NY,Sandy,Oct,4,2,3,1,2012
31,36061,New York,Major,NY,Sandy,Oct,4,2,3,1,2012

In [201]:
# Sandy >>>
# Q -2
sandy_1 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2012_q1` AS b
WHERE  (b.area_fips = '36103' OR 
        b.area_fips = '36059' OR 
        b.area_fips = '36081' OR 
        b.area_fips = '36005' OR
        b.area_fips = '36647' OR
        b.area_fips = '36119' OR
        b.area_fips = '36061')
"""
# Q -1
sandy_2 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2012_q3` AS b
WHERE  (b.area_fips = '36103' OR 
        b.area_fips = '36059' OR 
        b.area_fips = '36081' OR 
        b.area_fips = '36005' OR
        b.area_fips = '36647' OR
        b.area_fips = '36119' OR
        b.area_fips = '36061')
"""
# Q 0
sandy_3 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2012_q4` AS b
WHERE  (b.area_fips = '36103' OR 
        b.area_fips = '36059' OR 
        b.area_fips = '36081' OR 
        b.area_fips = '36005' OR
        b.area_fips = '36647' OR
        b.area_fips = '36119' OR
        b.area_fips = '36061')
"""
# Q 1
sandy_4 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2013_q1` AS b
WHERE  (b.area_fips = '36103' OR 
        b.area_fips = '36059' OR 
        b.area_fips = '36081' OR 
        b.area_fips = '36005' OR
        b.area_fips = '36647' OR
        b.area_fips = '36119' OR
        b.area_fips = '36061')
"""

sandy_q1 = gbq.read_gbq(sandy_1, project_id=project_id)  # Edit Hurricane Here.
sandy_q1['quarter'] = -2
sandy_q2 = gbq.read_gbq(sandy_2, project_id=project_id)
sandy_q2['quarter'] = -1
sandy_q3 = gbq.read_gbq(sandy_3, project_id=project_id)
sandy_q3['quarter'] = 0
sandy_q4 = gbq.read_gbq(sandy_4, project_id=project_id)
sandy_q4['quarter'] = 1

sandy_df = pd.concat([sandy_q1, sandy_q2, sandy_q3, sandy_q4], axis=1)
sandy_df['geoid'] = 'Sandy'
sandy_df.to_csv('../datasets/sandy.csv', index=False)

Downloading: 100%|██████████| 6/6 [00:00<00:00, 18.63rows/s]
Downloading: 100%|██████████| 6/6 [00:00<00:00, 33.28rows/s]
Downloading: 100%|██████████| 6/6 [00:00<00:00, 25.28rows/s]
Downloading: 100%|██████████| 6/6 [00:00<00:00, 25.25rows/s]

## Irma

In [202]:
hurricanes.loc[hurricanes['hurricane'] == 'Irma']

,fip_code,county,Impact,state,hurricane,month,q_0,q_-2,q_-1,q_1,year
32,72127,San Juan,Major,P.R.,Irma,Sept,3,1,2,4,2017
33,72021,Bayamon,Major,P.R.,Irma,Sept,3,1,2,4,2017
34,72013,Arecibo,Major,P.R.,Irma,Sept,3,1,2,4,2017
35,72025,Caguas,Major,P.R.,Irma,Sept,3,1,2,4,2017
36,72113,Ponce,Major,P.R.,Irma,Sept,3,1,2,4,2017
37,12025,Dade,Major,FL,Irma,Sept,3,1,2,4,2017
38,12011,Broward,Major,FL,Irma,Sept,3,1,2,4,2017
39,12099,Palm Beach,Major,FL,Irma,Sept,3,1,2,4,2017
40,12087,Monroe,Major,FL,Irma,Sept,3,1,2,4,2017
41,12043,Glades,Major,FL,Irma,Sept,3,1,2,4,2017
42,12021,Collier,Major,FL,Irma,Sept,3,1,2,4,2017
43,12071,Lee,Major,FL,Irma,Sept,3,1,2,4,2017
44,12051,Hendry,Major,FL,Irma,Sept,3,1,2,4,2017
45,12115,Sarasota,Major,FL,Irma,Sept,3,1,2,4,2017

In [203]:
# Irma >>>
# Q -2
irma_1 = """ 
SELECT *
FROM `bigquery-public-data.bls_qcew.2017_q1` AS b
WHERE  (b.area_fips = '72127' OR 
        b.area_fips = '72021' OR 
        b.area_fips = '72013' OR 
        b.area_fips = '72025' OR
        b.area_fips = '72113' OR
        b.area_fips = '12025' OR
        b.area_fips = '12011' OR
        b.area_fips = '12099' OR
        b.area_fips = '12087' OR
        b.area_fips = '12043' OR
        b.area_fips = '12021' OR
        b.area_fips = '12071' OR
        b.area_fips = '12051' OR
        b.area_fips = '12115')
"""
# Q -1
irma_2 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2017_q2` AS b
WHERE  (b.area_fips = '72127' OR 
        b.area_fips = '72021' OR 
        b.area_fips = '72013' OR 
        b.area_fips = '72025' OR
        b.area_fips = '72113' OR
        b.area_fips = '12025' OR
        b.area_fips = '12011' OR
        b.area_fips = '12099' OR
        b.area_fips = '12087' OR
        b.area_fips = '12043' OR
        b.area_fips = '12021' OR
        b.area_fips = '12071' OR
        b.area_fips = '12051' OR
        b.area_fips = '12115')
"""
# Q 0
irma_3 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2017_q3` AS b
WHERE  (b.area_fips = '72127' OR 
        b.area_fips = '72021' OR 
        b.area_fips = '72013' OR 
        b.area_fips = '72025' OR
        b.area_fips = '72113' OR
        b.area_fips = '12025' OR
        b.area_fips = '12011' OR
        b.area_fips = '12099' OR
        b.area_fips = '12087' OR
        b.area_fips = '12043' OR
        b.area_fips = '12021' OR
        b.area_fips = '12071' OR
        b.area_fips = '12051' OR
        b.area_fips = '12115')
"""
# Q 1
irma_4 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2017_q4` AS b
WHERE  (b.area_fips = '72127' OR 
        b.area_fips = '72021' OR 
        b.area_fips = '72013' OR 
        b.area_fips = '72025' OR
        b.area_fips = '72113' OR
        b.area_fips = '12025' OR
        b.area_fips = '12011' OR
        b.area_fips = '12099' OR
        b.area_fips = '12087' OR
        b.area_fips = '12043' OR
        b.area_fips = '12021' OR
        b.area_fips = '12071' OR
        b.area_fips = '12051' OR
        b.area_fips = '12115')
"""

irma_q1 = gbq.read_gbq(irma_1, project_id=project_id)  # Edit Hurricane Here.
irma_q1['quarter'] = -2
irma_q2 = gbq.read_gbq(irma_2, project_id=project_id)
irma_q2['quarter'] = -1
irma_q3 = gbq.read_gbq(irma_3, project_id=project_id)
irma_q3['quarter'] = 0
irma_q4 = gbq.read_gbq(irma_4, project_id=project_id)
irma_q4['quarter'] = 1

irma_df = pd.concat([irma_q1, irma_q2, irma_q3, irma_q4], axis=1)
irma_df['geoid'] = 'Irma'
irma_df.to_csv('../datasets/irma.csv', index=False)

Downloading: 100%|██████████| 13/13 [00:00<00:00, 72.84rows/s]
Downloading: 100%|██████████| 13/13 [00:00<00:00, 56.10rows/s]
Downloading: 100%|██████████| 13/13 [00:00<00:00, 58.88rows/s]
Downloading: 100%|██████████| 13/13 [00:00<00:00, 61.34rows/s]

## Ike

In [204]:
# Ike >>>
hurricanes.loc[hurricanes['hurricane'] == 'Ike']

,fip_code,county,Impact,state,hurricane,month,q_0,q_-2,q_-1,q_1,year
46,48071,Chambers,Major,TX,Ike,Sept,3,1,2,4,2008
47,48167,Galveston,Major,TX,Ike,Sept,3,1,2,4,2008
48,48245,Jefferson,Major,TX,Ike,Sept,3,1,2,4,2008
49,48201,Harris,Major,TX,Ike,Sept,3,1,2,4,2008

In [205]:
# Ike >>>
# Q -2
ike_1 = """ 
SELECT *
FROM `bigquery-public-data.bls_qcew.2008_q1` AS b
WHERE  (b.area_fips = '48071' OR 
        b.area_fips = '48167' OR 
        b.area_fips = '48245' OR 
        b.area_fips = '48201')
"""
# Q -1 
ike_2 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2008_q2` AS b
WHERE  (b.area_fips = '48071' OR 
        b.area_fips = '48167' OR 
        b.area_fips = '48245' OR 
        b.area_fips = '48201')
"""
# Q 0
ike_3 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2008_q3` AS b
WHERE  (b.area_fips = '48071' OR 
        b.area_fips = '48167' OR 
        b.area_fips = '48245' OR 
        b.area_fips = '48201')
"""
# Q 1
ike_4 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2008_q4` AS b
WHERE  (b.area_fips = '48071' OR 
        b.area_fips = '48167' OR 
        b.area_fips = '48245' OR 
        b.area_fips = '48201')
"""

ike_q1 = gbq.read_gbq(ike_1, project_id=project_id)  # Edit Hurricane Here.
ike_q1['quarter'] = -2
ike_q2 = gbq.read_gbq(ike_2, project_id=project_id)
ike_q2['quarter'] = -1
ike_q3 = gbq.read_gbq(ike_3, project_id=project_id)
ike_q3['quarter'] = 0
ike_q4 = gbq.read_gbq(ike_4, project_id=project_id)
ike_q4['quarter'] = 1

ike_df = pd.concat([ike_q1, ike_q2, ike_q3, ike_q4], axis=1)
ike_df['geoid'] = 'Ike'
ike_df.to_csv('../datasets/ike.csv', index=False)

Downloading: 100%|██████████| 4/4 [00:00<00:00, 17.28rows/s]
Downloading: 100%|██████████| 4/4 [00:00<00:00, 12.94rows/s]
Downloading: 100%|██████████| 4/4 [00:00<00:00, 16.17rows/s]
Downloading: 100%|██████████| 4/4 [00:00<00:00, 18.48rows/s]

## Wilma

In [206]:
# Wilma >>>
hurricanes.loc[hurricanes['hurricane'] == 'Wilma']

,fip_code,county,Impact,state,hurricane,month,q_0,q_-2,q_-1,q_1,year
50,12025,Dade,Major,FL,Wilma,Oct,4,2,3,1,2005
51,12011,Broward,Major,FL,Wilma,Oct,4,2,3,1,2005
52,12099,Palm Beach,Major,FL,Wilma,Oct,4,2,3,1,2005
53,12087,Monroe,Major,FL,Wilma,Oct,4,2,3,1,2005
54,12043,Glades,Major,FL,Wilma,Oct,4,2,3,1,2005
55,12021,Collier,Major,FL,Wilma,Oct,4,2,3,1,2005
56,12071,Lee,Major,FL,Wilma,Oct,4,2,3,1,2005
57,12051,Hendry,Major,FL,Wilma,Oct,4,2,3,1,2005

In [207]:
# Wilma >>>
# Q -2
wilma_1 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2005_q2` AS b
WHERE  (b.area_fips = '12025' OR 
        b.area_fips = '12011' OR 
        b.area_fips = '12099' OR
        b.area_fips = '12087' OR 
        b.area_fips = '12043' OR
        b.area_fips = '12021' OR 
        b.area_fips = '12071' OR
        b.area_fips = '12051')
"""
# Q -1
wilma_2 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2005_q3` AS b
WHERE  (b.area_fips = '12025' OR 
        b.area_fips = '12011' OR 
        b.area_fips = '12099' OR
        b.area_fips = '12087' OR 
        b.area_fips = '12043' OR
        b.area_fips = '12021' OR 
        b.area_fips = '12071' OR
        b.area_fips = '12051')
"""
# Q 0
wilma_3 = """ 
SELECT *
FROM `bigquery-public-data.bls_qcew.2005_q4` AS b
WHERE  (b.area_fips = '12025' OR 
        b.area_fips = '12011' OR 
        b.area_fips = '12099' OR
        b.area_fips = '12087' OR 
        b.area_fips = '12043' OR
        b.area_fips = '12021' OR 
        b.area_fips = '12071' OR
        b.area_fips = '12051')
"""
# Q 1
wilma_4 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2006_q1` AS b
WHERE  (b.area_fips = '12025' OR 
        b.area_fips = '12011' OR 
        b.area_fips = '12099' OR
        b.area_fips = '12087' OR 
        b.area_fips = '12043' OR
        b.area_fips = '12021' OR 
        b.area_fips = '12071' OR
        b.area_fips = '12051')
"""
wilma_q1 = gbq.read_gbq(wilma_1, project_id=project_id)  # Edit Hurricane Here.
wilma_q1['quarter'] = -2
wilma_q2 = gbq.read_gbq(wilma_2, project_id=project_id)
wilma_q2['quarter'] = -1
wilma_q3 = gbq.read_gbq(wilma_3, project_id=project_id)
wilma_q3['quarter'] = 0
wilma_q4 = gbq.read_gbq(wilma_4, project_id=project_id)
wilma_q4['quarter'] = 1

wilma_df = pd.concat([wilma_q1, wilma_q2, wilma_q3, wilma_q4], axis=1)
wilma_df['geoid'] = 'Wilma'
wilma_df.to_csv('../datasets/wilma.csv', index=False)

Downloading: 100%|██████████| 7/7 [00:00<00:00, 28.40rows/s]
Downloading: 100%|██████████| 7/7 [00:00<00:00, 29.00rows/s]
Downloading: 100%|██████████| 7/7 [00:00<00:00, 21.18rows/s]
Downloading: 100%|██████████| 7/7 [00:00<00:00, 26.09rows/s]

## Ivan

In [208]:
# Ivan >>>
hurricanes.loc[hurricanes['hurricane'] == 'Ivan']

,fip_code,county,Impact,state,hurricane,month,q_0,q_-2,q_-1,q_1,year
58,22051,Jefferson,Major,LA,Ivan,Sept,3,1,2,4,2004
59,22075,Plaquemines,Major,LA,Ivan,Sept,3,1,2,4,2004
60,22103,St Charles,Major,LA,Ivan,Sept,3,1,2,4,2004
61,22095,St Johns,Major,LA,Ivan,Sept,3,1,2,4,2004
62,22093,St James,Major,LA,Ivan,Sept,3,1,2,4,2004
63,1003,Baldwin,Major,AL,Ivan,Sept,3,1,2,4,2004
64,1097,Mobile,Major,AL,Ivan,Sept,3,1,2,4,2004
65,12045,Gulf,Major,FL,Ivan,Sept,3,1,2,4,2004
66,12095,Orange,Major,FL,Ivan,Sept,3,1,2,4,2004
67,12113,Santa Rosa,Major,FL,Ivan,Sept,3,1,2,4,2004
68,12033,Escambia,Major,FL,Ivan,Sept,3,1,2,4,2004

In [209]:
# Ivan >>>
# Q -2
ivan_1 = """ 
SELECT *
FROM `bigquery-public-data.bls_qcew.2004_q1` AS b
WHERE  (b.area_fips = '22051' OR 
        b.area_fips = '22075' OR 
        b.area_fips = '22103' OR
        b.area_fips = '22095' OR 
        b.area_fips = '22093' OR
        b.area_fips = '01003' OR 
        b.area_fips = '01053' OR
        b.area_fips = '01097' OR
        b.area_fips = '12045' OR
        b.area_fips = '12095' OR
        b.area_fips = '12113')
"""
# Q -1
ivan_2 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2004_q2` AS b
WHERE  (b.area_fips = '22051' OR 
        b.area_fips = '22075' OR 
        b.area_fips = '22103' OR
        b.area_fips = '22095' OR 
        b.area_fips = '22093' OR
        b.area_fips = '01003' OR 
        b.area_fips = '01053' OR
        b.area_fips = '01097' OR
        b.area_fips = '12045' OR
        b.area_fips = '12095' OR
        b.area_fips = '12113')
"""
# Q 0
ivan_3 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2004_q3` AS b
WHERE  (b.area_fips = '22051' OR 
        b.area_fips = '22075' OR 
        b.area_fips = '22103' OR
        b.area_fips = '22095' OR 
        b.area_fips = '22093' OR
        b.area_fips = '01003' OR 
        b.area_fips = '01053' OR
        b.area_fips = '01097' OR
        b.area_fips = '12045' OR
        b.area_fips = '12095' OR
        b.area_fips = '12113')
"""
# Q 1
ivan_4 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2004_q4` AS b
WHERE  (b.area_fips = '22051' OR 
        b.area_fips = '22075' OR 
        b.area_fips = '22103' OR
        b.area_fips = '22095' OR 
        b.area_fips = '22093' OR
        b.area_fips = '01003' OR 
        b.area_fips = '01053' OR
        b.area_fips = '01097' OR
        b.area_fips = '12045' OR
        b.area_fips = '12095' OR
        b.area_fips = '12113')
"""

ivan_q1 = gbq.read_gbq(ivan_1, project_id=project_id)  # Edit Hurricane Here.
ivan_q1['quarter'] = -2
ivan_q2 = gbq.read_gbq(ivan_2, project_id=project_id)
ivan_q2['quarter'] = -1
ivan_q3 = gbq.read_gbq(ivan_3, project_id=project_id)
ivan_q3['quarter'] = 0
ivan_q4 = gbq.read_gbq(ivan_4, project_id=project_id)
ivan_q4['quarter'] = 1

ivan_df = pd.concat([ivan_q1, ivan_q2, ivan_q3, ivan_q4], axis=1)
ivan_df['geoid'] = 'Ivan'
ivan_df.to_csv('../datasets/ivan.csv', index=False)

Downloading: 100%|██████████| 11/11 [00:00<00:00, 58.55rows/s]
Downloading: 100%|██████████| 11/11 [00:00<00:00, 53.19rows/s]
Downloading: 100%|██████████| 11/11 [00:00<00:00, 52.30rows/s]
Downloading: 100%|██████████| 11/11 [00:00<00:00, 44.15rows/s]

## Michael

In [210]:
# Michael >>>
hurricanes.loc[hurricanes['hurricane'] == 'Michael']

,fip_code,county,Impact,state,hurricane,month,q_0,q_-2,q_-1,q_1,year
69,12005,Bay,Major,FL,Michael,Oct,4,2,3,1,2018
70,12045,Gulf,Major,FL,Michael,Oct,4,2,3,1,2018
71,12129,Wakulla,Major,FL,Michael,Oct,4,2,3,1,2018
72,12091,Okaloosa,Major,FL,Michael,Oct,4,2,3,1,2018
73,12037,Franklin,Major,FL,Michael,Oct,4,2,3,1,2018
74,13087,Decatur,Major,GA,Michael,Oct,4,2,3,1,2018
75,13253,Seminole,Major,GA,Michael,Oct,4,2,3,1,2018

In [211]:
# Michael >>>
# Q -2
michael_1 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2018_q2` AS b
WHERE  (b.area_fips = '12005' OR 
        b.area_fips = '12045' OR 
        b.area_fips = '12129' OR
        b.area_fips = '12091' OR 
        b.area_fips = '12037' OR
        b.area_fips = '13087' OR 
        b.area_fips = '13253')
"""
# Q -1
michael_2 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2018_q3` AS b
WHERE  (b.area_fips = '12005' OR 
        b.area_fips = '12045' OR 
        b.area_fips = '12129' OR
        b.area_fips = '12091' OR 
        b.area_fips = '12037' OR
        b.area_fips = '13087' OR 
        b.area_fips = '13253')
"""
# Q 0
michael_3 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2018_q4` AS b
WHERE  (b.area_fips = '12005' OR 
        b.area_fips = '12045' OR 
        b.area_fips = '12129' OR
        b.area_fips = '12091' OR 
        b.area_fips = '12037' OR
        b.area_fips = '13087' OR 
        b.area_fips = '13253')
"""
# Q 1
michael_4 = """ 
SELECT *
FROM `bigquery-public-data.bls_qcew.2019_q1` AS b
WHERE  (b.area_fips = '12005' OR 
        b.area_fips = '12045' OR 
        b.area_fips = '12129' OR
        b.area_fips = '12091' OR 
        b.area_fips = '12037' OR
        b.area_fips = '13087' OR 
        b.area_fips = '13253')
"""
michael_q1 = gbq.read_gbq(michael_1, project_id=project_id)  # Edit Hurricane Here.
michael_q1['quarter'] = -2
michael_q2 = gbq.read_gbq(michael_2, project_id=project_id)
michael_q2['quarter'] = -1
michael_q3 = gbq.read_gbq(michael_3, project_id=project_id)
michael_q3['quarter'] = 0
michael_q4 = gbq.read_gbq(michael_4, project_id=project_id)
michael_q4['quarter'] = 1

michael_df = pd.concat([michael_q1, michael_q2, michael_q3, michael_q4], axis=1)
michael_df['geoid'] = 'Michael'
michael_df.to_csv('../datasets/michael.csv', index=False)

Downloading: 100%|██████████| 7/7 [00:00<00:00, 32.23rows/s]
Downloading: 100%|██████████| 7/7 [00:00<00:00, 27.85rows/s]
Downloading: 100%|██████████| 7/7 [00:00<00:00, 33.11rows/s]
Downloading: 100%|██████████| 7/7 [00:00<00:00, 32.33rows/s]

## Rita

In [212]:
# Rita >>>
hurricanes.loc[hurricanes['hurricane'] == 'Rita']

,fip_code,county,Impact,state,hurricane,month,q_0,q_-2,q_-1,q_1,year
76,22051,Jefferson,Major,LA,Rita,Sept,3,1,2,4,2005
77,22075,Plaquemines,Major,LA,Rita,Sept,3,1,2,4,2005
78,22103,St Charles,Major,LA,Rita,Sept,3,1,2,4,2005
79,22095,St Johns,Major,LA,Rita,Sept,3,1,2,4,2005
80,22093,St James,Major,LA,Rita,Sept,3,1,2,4,2005
81,22023,Cameron,Major,LA,Rita,Sept,3,1,2,4,2005
82,22045,Iberia,Major,LA,Rita,Sept,3,1,2,4,2005
83,22053,Jeff Davis,Major,LA,Rita,Sept,3,1,2,4,2005
84,22001,Acadia,Major,LA,Rita,Sept,3,1,2,4,2005
85,12025,Dade,Major,FL,Rita,Sept,3,1,2,4,2005
86,48167,Galveston,Major,TX,Rita,Sept,3,1,2,4,2005
87,48245,Jefferson,Major,TX,Rita,Sept,3,1,2,4,2005
88,48201,Harris,Major,TX,Rita,Sept,3,1,2,4,2005

In [213]:
# Rita >>>
# Q -2
rita_1 = """ 
SELECT *
FROM `bigquery-public-data.bls_qcew.2005_q1` AS b
WHERE  (b.area_fips = '22051' OR 
        b.area_fips = '22075' OR 
        b.area_fips = '22103' OR
        b.area_fips = '22095' OR 
        b.area_fips = '22093' OR
        b.area_fips = '22023' OR
        b.area_fips = '22045' OR 
        b.area_fips = '22053' OR 
        b.area_fips = '22001' OR 
        b.area_fips = '12025' OR
        b.area_fips = '48167' OR
        b.area_fips = '48245' OR
        b.area_fips = '48201')
"""
# Q -1
rita_2 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2005_q2` AS b
WHERE  (b.area_fips = '22051' OR 
        b.area_fips = '22075' OR 
        b.area_fips = '22103' OR
        b.area_fips = '22095' OR 
        b.area_fips = '22093' OR
        b.area_fips = '22023' OR
        b.area_fips = '22045' OR 
        b.area_fips = '22053' OR 
        b.area_fips = '22001' OR 
        b.area_fips = '12025' OR
        b.area_fips = '48167' OR
        b.area_fips = '48245' OR
        b.area_fips = '48201')
"""
# Q 0 
rita_3= """
SELECT *
FROM `bigquery-public-data.bls_qcew.2005_q3` AS b
WHERE  (b.area_fips = '22051' OR 
        b.area_fips = '22075' OR 
        b.area_fips = '22103' OR
        b.area_fips = '22095' OR 
        b.area_fips = '22093' OR
        b.area_fips = '22023' OR
        b.area_fips = '22045' OR 
        b.area_fips = '22053' OR 
        b.area_fips = '22001' OR 
        b.area_fips = '12025' OR
        b.area_fips = '48167' OR
        b.area_fips = '48245' OR
        b.area_fips = '48201')
"""
# Q 1
rita_4= """
SELECT *
FROM `bigquery-public-data.bls_qcew.2005_q4` AS b
WHERE  (b.area_fips = '22051' OR 
        b.area_fips = '22075' OR 
        b.area_fips = '22103' OR
        b.area_fips = '22095' OR 
        b.area_fips = '22093' OR
        b.area_fips = '22023' OR
        b.area_fips = '22045' OR 
        b.area_fips = '22053' OR 
        b.area_fips = '22001' OR 
        b.area_fips = '12025' OR
        b.area_fips = '48167' OR
        b.area_fips = '48245' OR
        b.area_fips = '48201')
"""

rita_q1 = gbq.read_gbq(rita_1, project_id=project_id)  # Edit Hurricane Here.
rita_q1['quarter'] = -2
rita_q2 = gbq.read_gbq(rita_2, project_id=project_id)
rita_q2['quarter'] = -1
rita_q3 = gbq.read_gbq(rita_3, project_id=project_id)
rita_q3['quarter'] = 0
rita_q4 = gbq.read_gbq(rita_4, project_id=project_id)
rita_q4['quarter'] = 1

rita_df = pd.concat([rita_q1, rita_q2, rita_q3, rita_q4], axis=1)
rita_df['geoid'] = 'Rita'
rita_df.to_csv('../datasets/rita.csv', index=False)

Downloading: 100%|██████████| 12/12 [00:00<00:00, 49.90rows/s]
Downloading: 100%|██████████| 12/12 [00:00<00:00, 54.52rows/s]
Downloading: 100%|██████████| 12/12 [00:00<00:00, 54.29rows/s]
Downloading: 100%|██████████| 12/12 [00:00<00:00, 25.71rows/s]

## Matthew

In [214]:
# Mattthew >>>
hurricanes.loc[hurricanes['hurricane'] == 'Matthew']

,fip_code,county,Impact,state,hurricane,month,q_0,q_-2,q_-1,q_1,year
89,12031,Duval,Major,FL,Matthew,Oct,4,2,3,1,2016
90,12095,Orange,Major,FL,Matthew,Oct,4,2,3,1,2016
91,45019,Charleston,Major,SC,Matthew,Oct,4,2,3,1,2016
92,45013,Beaufort,Major,SC,Matthew,Oct,4,2,3,1,2016
93,45051,Horry,Major,SC,Matthew,Oct,4,2,3,1,2016
94,37183,Wake,Major,NC,Matthew,Oct,4,2,3,1,2016
95,37129,New Hanover,Major,NC,Matthew,Oct,4,2,3,1,2016

In [215]:
# Mattthew >>>
# Q -2
matthew_1 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2016_q2` AS b
WHERE  (b.area_fips = '12031' OR 
        b.area_fips = '12095' OR 
        b.area_fips = '45019' OR
        b.area_fips = '45013' OR 
        b.area_fips = '45051' OR
        b.area_fips = '37183' OR
        b.area_fips = '37129')
"""
# Q -1
matthew_2= """
SELECT *
FROM `bigquery-public-data.bls_qcew.2016_q3` AS b
WHERE  (b.area_fips = '12031' OR 
        b.area_fips = '12095' OR 
        b.area_fips = '45019' OR
        b.area_fips = '45013' OR 
        b.area_fips = '45051' OR
        b.area_fips = '37183' OR
        b.area_fips = '37129')
"""
# Q 0
matthew_3= """
SELECT *
FROM `bigquery-public-data.bls_qcew.2016_q4` AS b
WHERE  (b.area_fips = '12031' OR 
        b.area_fips = '12095' OR 
        b.area_fips = '45019' OR
        b.area_fips = '45013' OR 
        b.area_fips = '45051' OR
        b.area_fips = '37183' OR
        b.area_fips = '37129')
"""
# Q 1
matthew_4 = """ 
SELECT *
FROM `bigquery-public-data.bls_qcew.2017_q1` AS b
WHERE  (b.area_fips = '12031' OR 
        b.area_fips = '12095' OR 
        b.area_fips = '45019' OR
        b.area_fips = '45013' OR 
        b.area_fips = '45051' OR
        b.area_fips = '37183' OR
        b.area_fips = '37129')
"""
matthew_q1 = gbq.read_gbq(matthew_1, project_id=project_id)  # Edit Hurricane Here.
matthew_q1['quarter'] = -2
matthew_q2 = gbq.read_gbq(matthew_2, project_id=project_id)
matthew_q2['quarter'] = -1
matthew_q3 = gbq.read_gbq(matthew_3, project_id=project_id)
matthew_q3['quarter'] = 0
matthew_q4 = gbq.read_gbq(matthew_4, project_id=project_id)
matthew_q3['quarter'] = 1

matthew_df = pd.concat([matthew_q1, matthew_q2, matthew_q3, matthew_q4], axis=1)
matthew_df['geoid'] = 'Matthew'
matthew_df.to_csv('../datasets/matthew.csv', index=False)

Downloading: 100%|██████████| 7/7 [00:00<00:00, 37.96rows/s]
Downloading: 100%|██████████| 7/7 [00:00<00:00, 29.24rows/s]
Downloading: 100%|██████████| 7/7 [00:00<00:00, 38.91rows/s]
Downloading: 100%|██████████| 7/7 [00:00<00:00, 32.48rows/s]

In [216]:
# Charlie >>>
hurricanes.loc[hurricanes['hurricane'] == 'Charlie']

,fip_code,county,Impact,state,hurricane,month,q_0,q_-2,q_-1,q_1,year
96,12015,Charlotte,Major,FL,Charlie,Aug,3,1,2,4,2004
97,12087,Monroe,Major,FL,Charlie,Aug,3,1,2,4,2004
98,12021,Collier,Major,FL,Charlie,Aug,3,1,2,4,2004
99,12027,DeSoto,Major,FL,Charlie,Aug,3,1,2,4,2004
100,12049,Hardee,Major,FL,Charlie,Aug,3,1,2,4,2004
101,12095,Orange,Major,FL,Charlie,Aug,3,1,2,4,2004

In [217]:
# Charlie >>>
# Q -2
charlie_1 = """ 
SELECT *
FROM `bigquery-public-data.bls_qcew.2004_q1` AS b
WHERE  (b.area_fips = '12015' OR 
        b.area_fips = '12087' OR 
        b.area_fips = '12021' OR
        b.area_fips = '12027' OR 
        b.area_fips = '12049' OR
        b.area_fips = '12095')
"""
# Q -1
charlie_2 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2004_q2` AS b
WHERE  (b.area_fips = '12015' OR 
        b.area_fips = '12087' OR 
        b.area_fips = '12021' OR
        b.area_fips = '12027' OR 
        b.area_fips = '12049' OR
        b.area_fips = '12095')
"""
# Q 0
charlie_3= """
SELECT *
FROM `bigquery-public-data.bls_qcew.2004_q3` AS b
WHERE  (b.area_fips = '12015' OR 
        b.area_fips = '12087' OR 
        b.area_fips = '12021' OR
        b.area_fips = '12027' OR 
        b.area_fips = '12049' OR
        b.area_fips = '12095')
"""
# Q 1
charlie_4= """
SELECT *
FROM `bigquery-public-data.bls_qcew.2004_q4` AS b
WHERE  (b.area_fips = '12015' OR 
        b.area_fips = '12087' OR 
        b.area_fips = '12021' OR
        b.area_fips = '12027' OR 
        b.area_fips = '12049' OR
        b.area_fips = '12095')
"""

charlie_q1 = gbq.read_gbq(charlie_1, project_id=project_id)  # Edit Hurricane Here.
charlie_q1['quarter'] = -2
charlie_q2 = gbq.read_gbq(charlie_2, project_id=project_id)
charlie_q2['quarter'] = -1
charlie_q3 = gbq.read_gbq(charlie_3, project_id=project_id)
charlie_q3['quarter'] = 0
charlie_q4 = gbq.read_gbq(charlie_4, project_id=project_id)
charlie_q4['quarter'] = 1

charlie_df = pd.concat([charlie_q1, charlie_q2, charlie_q3, charlie_q4], axis=1)
charlie_df['geoid'] = 'Charlie'
charlie_df.to_csv('../datasets/charlie.csv', index=False)

Downloading: 100%|██████████| 6/6 [00:00<00:00, 12.85rows/s]
Downloading: 100%|██████████| 6/6 [00:00<00:00, 27.60rows/s]
Downloading: 100%|██████████| 6/6 [00:00<00:00, 26.38rows/s]
Downloading: 100%|██████████| 6/6 [00:00<00:00, 36.02rows/s]

## Frances

In [218]:
# Frances >>>
hurricanes.loc[hurricanes['hurricane'] == 'Frances']

,fip_code,county,Impact,state,hurricane,month,q_0,q_-2,q_-1,q_1,year
102,12099,Palm Beach,Major,FL,Frances,Aug,3,1,2,4,2004
103,12011,Broward,Major,FL,Frances,Aug,3,1,2,4,2004
104,12086,Dade,Major,FL,Frances,Aug,3,1,2,4,2004
105,12095,Orange,Major,FL,Frances,Aug,3,1,2,4,2004
106,12085,Martin,Major,FL,Frances,Aug,3,1,2,4,2004
107,72127,San Juan,Major,P.R.,Frances,Aug,3,1,2,4,2004
108,72057,Guayama,Major,P.R.,Frances,Aug,3,1,2,4,2004
109,72049,Culebra,Major,P.R.,Frances,Aug,3,1,2,4,2004
110,72147,Vieques,Major,P.R.,Frances,Aug,3,1,2,4,2004
111,72025,Caguas,Major,P.R.,Frances,Aug,3,1,2,4,2004
112,72113,Ponce,Major,P.R.,Frances,Aug,3,1,2,4,2004

In [219]:
# Frances >>>
# Q -2
frances_1 = """ 
SELECT *
FROM `bigquery-public-data.bls_qcew.2004_q1` AS b
WHERE  (b.area_fips = '12099' OR 
        b.area_fips = '12011' OR 
        b.area_fips = '12086' OR
        b.area_fips = '12095' OR 
        b.area_fips = '12085' OR
        b.area_fips = '72127' OR
        b.area_fips = '72057' OR
        b.area_fips = '72049' OR
        b.area_fips = '72147' OR
        b.area_fips = '72025' OR
        b.area_fips = '72113')
"""
# Q -1 
frances_2 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2004_q2` AS b
WHERE  (b.area_fips = '12099' OR 
        b.area_fips = '12011' OR 
        b.area_fips = '12086' OR
        b.area_fips = '12095' OR 
        b.area_fips = '12085' OR
        b.area_fips = '72127' OR
        b.area_fips = '72057' OR
        b.area_fips = '72049' OR
        b.area_fips = '72147' OR
        b.area_fips = '72025' OR
        b.area_fips = '72113')
"""
# Q 0
frances_3= """
SELECT *
FROM `bigquery-public-data.bls_qcew.2004_q3` AS b
WHERE  (b.area_fips = '12099' OR 
        b.area_fips = '12011' OR 
        b.area_fips = '12086' OR
        b.area_fips = '12095' OR 
        b.area_fips = '12085' OR
        b.area_fips = '72127' OR
        b.area_fips = '72057' OR
        b.area_fips = '72049' OR
        b.area_fips = '72147' OR
        b.area_fips = '72025' OR
        b.area_fips = '72113')
"""
# Q 1
frances_4= """
SELECT *
FROM `bigquery-public-data.bls_qcew.2004_q4` AS b
WHERE  (b.area_fips = '12099' OR 
        b.area_fips = '12011' OR 
        b.area_fips = '12086' OR
        b.area_fips = '12095' OR 
        b.area_fips = '12085' OR
        b.area_fips = '72127' OR
        b.area_fips = '72057' OR
        b.area_fips = '72049' OR
        b.area_fips = '72147' OR
        b.area_fips = '72025' OR
        b.area_fips = '72113')
"""

frances_q1 = gbq.read_gbq(frances_1, project_id=project_id)  # Edit Hurricane Here.
frances_q1['quarter'] = -2
frances_q2 = gbq.read_gbq(frances_2, project_id=project_id)
frances_q2['quarter'] = -1
frances_q3 = gbq.read_gbq(frances_3, project_id=project_id)
frances_q3['quarter'] = 0
frances_q4 = gbq.read_gbq(frances_4, project_id=project_id)
frances_q4['quarter'] = 1

frances_df = pd.concat([frances_q1, frances_q2, frances_q3, frances_q4], axis=1)
frances_df['geoid'] = 'Frances'
frances_df.to_csv('../datasets/frances.csv', index=False)

Downloading: 100%|██████████| 11/11 [00:00<00:00, 56.85rows/s]
Downloading: 100%|██████████| 11/11 [00:00<00:00, 37.64rows/s]
Downloading: 100%|██████████| 11/11 [00:00<00:00, 51.72rows/s]
Downloading: 100%|██████████| 11/11 [00:00<00:00, 63.73rows/s]

## Irene

In [220]:
hurricanes.loc[hurricanes['hurricane'] == 'Irene']

,fip_code,county,Impact,state,hurricane,month,q_0,q_-2,q_-1,q_1,year
113,72063,Gurabo,Major,P.R.,Irene,Aug,3,1,2,4,2011
114,72127,San Juan,Major,P.R.,Irene,Aug,3,1,2,4,2011
115,72049,Culebra,Major,P.R.,Irene,Aug,3,1,2,4,2011
116,72151,Yabucao,Major,P.R.,Irene,Aug,3,1,2,4,2011
117,34009,Cape May,Major,NJ,Irene,Aug,3,1,2,4,2011
118,34001,Atlantic,Major,NJ,Irene,Aug,3,1,2,4,2011
119,34017,Hudson,Major,NJ,Irene,Aug,3,1,2,4,2011
120,34021,Mercer,Major,NJ,Irene,Aug,3,1,2,4,2011
121,36059,Nassau,Major,NY,Irene,Aug,3,1,2,4,2011
122,36095,Schoharie,Major,NY,Irene,Aug,3,1,2,4,2011
123,36061,New York,Major,NY,Irene,Aug,3,1,2,4,2011
124,37137,Pamilico,Major,NC,Irene,Aug,3,1,2,4,2011
125,37177,Tyrrell,Major,NC,Irene,Aug,3,1,2,4,2011
126,51810,Virginia Beach,Major,VA,Irene,Aug,3,1,2,4,2011
127,51800,Suffolk,Major,VA,Irene,Aug,3,1,2,4,2011
128,51700,Newport News,Major,VA,Irene,Aug,3,1,2,4,2011

In [221]:
# Irene >>>
# Q -2
irene_1 = """ 
SELECT *
FROM `bigquery-public-data.bls_qcew.2011_q1` AS b
WHERE  (b.area_fips = '72063' OR 
        b.area_fips = '72127' OR 
        b.area_fips = '72049' OR
        b.area_fips = '72151' OR 
        b.area_fips = '34009' OR
        b.area_fips = '34001' OR
        b.area_fips = '34017' OR
        b.area_fips = '34021' OR
        b.area_fips = '36059' OR
        b.area_fips = '36095' OR
        b.area_fips = '36061' OR
        b.area_fips = '37137' OR
        b.area_fips = '37177' OR
        b.area_fips = '51810' OR
        b.area_fips = '51800' OR
        b.area_fips = '51700')
"""
# Q -1 
irene_2 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2011_q2` AS b
WHERE  (b.area_fips = '72063' OR 
        b.area_fips = '72127' OR 
        b.area_fips = '72049' OR
        b.area_fips = '72151' OR 
        b.area_fips = '34009' OR
        b.area_fips = '34001' OR
        b.area_fips = '34017' OR
        b.area_fips = '34021' OR
        b.area_fips = '36059' OR
        b.area_fips = '36095' OR
        b.area_fips = '36061' OR
        b.area_fips = '37137' OR
        b.area_fips = '37177' OR
        b.area_fips = '51810' OR
        b.area_fips = '51800' OR
        b.area_fips = '51700')
"""
# Q 0
irene_3= """
SELECT *
FROM `bigquery-public-data.bls_qcew.2011_q3` AS b
WHERE  (b.area_fips = '72063' OR 
        b.area_fips = '72127' OR 
        b.area_fips = '72049' OR
        b.area_fips = '72151' OR 
        b.area_fips = '34009' OR
        b.area_fips = '34001' OR
        b.area_fips = '34017' OR
        b.area_fips = '34021' OR
        b.area_fips = '36059' OR
        b.area_fips = '36095' OR
        b.area_fips = '36061' OR
        b.area_fips = '37137' OR
        b.area_fips = '37177' OR
        b.area_fips = '51810' OR
        b.area_fips = '51800' OR
        b.area_fips = '51700')
"""
# Q 1
irene_4= """
SELECT *
FROM `bigquery-public-data.bls_qcew.2011_q4` AS b
WHERE  (b.area_fips = '72063' OR 
        b.area_fips = '72127' OR 
        b.area_fips = '72049' OR
        b.area_fips = '72151' OR 
        b.area_fips = '34009' OR
        b.area_fips = '34001' OR
        b.area_fips = '34017' OR
        b.area_fips = '34021' OR
        b.area_fips = '36059' OR
        b.area_fips = '36095' OR
        b.area_fips = '36061' OR
        b.area_fips = '37137' OR
        b.area_fips = '37177' OR
        b.area_fips = '51810' OR
        b.area_fips = '51800' OR
        b.area_fips = '51700')
"""

irene_q1 = gbq.read_gbq(irene_1, project_id=project_id)  # Edit Hurricane Here.
irene_q1['quarter'] = -2
irene_q2 = gbq.read_gbq(irene_2, project_id=project_id)
irene_q2['quarter'] = -1
irene_q3 = gbq.read_gbq(irene_3, project_id=project_id)
irene_q3['quarter'] = 0
irene_q4 = gbq.read_gbq(irene_4, project_id=project_id)
irene_q4['quarter'] = 1

irene_df = pd.concat([irene_q1, irene_q2, irene_q3, irene_q4], axis=1)
irene_df['geoid'] = 'Irene'
irene_df.to_csv('../datasets/irene.csv', index=False)

Downloading: 100%|██████████| 16/16 [00:00<00:00, 77.85rows/s]
Downloading: 100%|██████████| 16/16 [00:00<00:00, 71.27rows/s]
Downloading: 100%|██████████| 16/16 [00:00<00:00, 83.40rows/s]
Downloading: 100%|██████████| 16/16 [00:00<00:00, 81.71rows/s]