In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import requests
from bs4 import BeautifulSoup
from pandas.io import gbq
from google.cloud import bigquery
from google.oauth2 import service_account

# Google Database BigQuery Code (Start here) >>>

In [3]:
# !pip install --upgrade google-cloud-bigquery
# !pip install pandas-gbq
# !pip install google-cloud-bigquery

In [49]:
# Vic >>>
credentials = service_account.Credentials.from_service_account_file("../../p5_cred.json")
project_id = 'banded-water-276418'
client = bigquery.Client(credentials= credentials,project='banded-water-276418')

In [ ]:
# Bryan >>> 
credentials = service_account.Credentials.from_service_account_file("")
project_id = ''
client = bigquery.Client(credentials= credentials,project='')

In [8]:
# Andrew >>> 
credentials = service_account.Credentials.from_service_account_file("")
project_id = ''
client = bigquery.Client(credentials= credentials,project='')

# Master Hurricane List >>>

In [23]:
hurricanes = pd.read_csv("../datasets/fip_codes_years.csv")

In [24]:
hurricanes.head(2)

,fip_code,county,Impact,state,hurricane,month,q_0,q_-2,q_-1,q_1,year
0,48201,Harris,Major,TX,Harvey,Sept,3,1,2,4,2017
1,48245,Jefferson,Major,TX,Harvey,Sept,3,1,2,4,2017

In [35]:
hurricanes['hurricane'].value_counts()

Irene      16
Irma       14
Rita       13
Ivan       11
Frances    11
Harvey     10
Wilma       8
Matthew     7
Sandy       7
Michael     7
Charlie     6
Katrina     6
Maria       5
Andrew      4
Ike         4
Name: hurricane, dtype: int64

In [45]:
hurricanes['hurricane'].unique()

array(['Harvey', 'Katrina', 'Maria', 'Andrew ', 'Sandy', 'Irma', 'Ike',
       'Wilma', 'Ivan', 'Michael', 'Rita', 'Matthew', 'Charlie',
       'Frances', 'Irene'], dtype=object)

# BigQueries (Hurricanes) >>>

In [47]:
# Harvey >>>
hurricanes.loc[hurricanes['hurricane'] == 'Harvey']

,fip_code,county,Impact,state,hurricane,month,q_0,q_-2,q_-1,q_1,year
0,48201,Harris,Major,TX,Harvey,Sept,3,1,2,4,2017
1,48245,Jefferson,Major,TX,Harvey,Sept,3,1,2,4,2017
2,48167,Galveston,Major,TX,Harvey,Sept,3,1,2,4,2017
3,48039,Brazoria,Major,TX,Harvey,Sept,3,1,2,4,2017
4,48321,Matagorda,Major,TX,Harvey,Sept,3,1,2,4,2017
5,48057,Calhoun,Major,TX,Harvey,Sept,3,1,2,4,2017
6,48007,Aransas,Major,TX,Harvey,Sept,3,1,2,4,2017
7,48409,San Patricio,Major,TX,Harvey,Sept,3,1,2,4,2017
8,48355,Nueces,Major,TX,Harvey,Sept,3,1,2,4,2017
9,48273,Kleberg,Major,TX,Harvey,Sept,3,1,2,4,2017

In [51]:
# Harvey >>>
# Q1
harvey_1 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2017_q2` AS b
WHERE  (b.area_fips = '48201' OR 
        b.area_fips = '48245' OR 
        b.area_fips = '48167' OR 
        b.area_fips = '48039' OR 
        b.area_fips = '48321' OR
        b.area_fips = '48007' OR
        b.area_fips = '48409' OR
        b.area_fips = '48355' OR
        b.area_fips = '48273')
"""
# Q2 
harvey_2 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2017_q3` AS b
WHERE  (b.area_fips = '48201' OR 
        b.area_fips = '48245' OR 
        b.area_fips = '48167' OR 
        b.area_fips = '48039' OR 
        b.area_fips = '48321' OR
        b.area_fips = '48007' OR
        b.area_fips = '48409' OR
        b.area_fips = '48355' OR
        b.area_fips = '48273')
"""
# Q3
harvey_3 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2017_q4` AS b
WHERE  (b.area_fips = '48201' OR 
        b.area_fips = '48245' OR 
        b.area_fips = '48167' OR 
        b.area_fips = '48039' OR 
        b.area_fips = '48321' OR
        b.area_fips = '48007' OR
        b.area_fips = '48409' OR
        b.area_fips = '48355' OR
        b.area_fips = '48273')
"""
# Q4
harvey_4 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2018_q1` AS b
WHERE  (b.area_fips = '48201' OR 
        b.area_fips = '48245' OR 
        b.area_fips = '48167' OR 
        b.area_fips = '48039' OR 
        b.area_fips = '48321' OR
        b.area_fips = '48007' OR
        b.area_fips = '48409' OR
        b.area_fips = '48355' OR
        b.area_fips = '48273')
"""

harvey_q1 = gbq.read_gbq(harvey_1, project_id=project_id)  # Edit Hurricane Here.
harvey_q2 = gbq.read_gbq(harvey_2, project_id=project_id)
harvey_q3 = gbq.read_gbq(harvey_3, project_id=project_id)
harvey_q4 = gbq.read_gbq(harvey_4, project_id=project_id)

harvey_df = pd.concat([harvey_q1, harvey_q2, harvey_q3, harvey_q4], axis=1)
harvey_df['geoid'] = 'Harvey'
harvey_df.to_csv('../new_datasets/harvey.csv', index=False)

hurricanes.loc[hurricanes['hurricane'] == 'Harvey']

Downloading: 100%|██████████| 9/9 [00:00<00:00, 34.04rows/s]
Downloading: 100%|██████████| 9/9 [00:00<00:00, 31.35rows/s]
Downloading: 100%|██████████| 9/9 [00:00<00:00, 41.77rows/s]
Downloading: 100%|██████████| 9/9 [00:00<00:00, 39.36rows/s]

,fip_code,county,Impact,state,hurricane,month,q_0,q_-2,q_-1,q_1,year
0,48201,Harris,Major,TX,Harvey,Sept,3,1,2,4,2017
1,48245,Jefferson,Major,TX,Harvey,Sept,3,1,2,4,2017
2,48167,Galveston,Major,TX,Harvey,Sept,3,1,2,4,2017
3,48039,Brazoria,Major,TX,Harvey,Sept,3,1,2,4,2017
4,48321,Matagorda,Major,TX,Harvey,Sept,3,1,2,4,2017
5,48057,Calhoun,Major,TX,Harvey,Sept,3,1,2,4,2017
6,48007,Aransas,Major,TX,Harvey,Sept,3,1,2,4,2017
7,48409,San Patricio,Major,TX,Harvey,Sept,3,1,2,4,2017
8,48355,Nueces,Major,TX,Harvey,Sept,3,1,2,4,2017
9,48273,Kleberg,Major,TX,Harvey,Sept,3,1,2,4,2017

In [62]:
# Katrina >>>
# Q1
katrina_1 = """ 
SELECT *
FROM `bigquery-public-data.bls_qcew.2005_q2` AS b
WHERE  (b.area_fips = '22087' OR 
        b.area_fips = '22071' OR 
        b.area_fips = '22075' OR 
        b.area_fips = '22051' OR 
        b.area_fips = '22103' OR
        b.area_fips = '22089')
"""
# Q2 
katrina_2 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2005_q3` AS b
WHERE  (b.area_fips = '22087' OR 
        b.area_fips = '22071' OR 
        b.area_fips = '22075' OR 
        b.area_fips = '22051' OR 
        b.area_fips = '22103' OR
        b.area_fips = '22089')
"""
# Q3
katrina_3 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2005_q4` AS b
WHERE  (b.area_fips = '22087' OR 
        b.area_fips = '22071' OR 
        b.area_fips = '22075' OR 
        b.area_fips = '22051' OR 
        b.area_fips = '22103' OR
        b.area_fips = '22089')
"""
# Q4
katrina_4 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2006_q1` AS b
WHERE  (b.area_fips = '22087' OR 
        b.area_fips = '22071' OR 
        b.area_fips = '22075' OR 
        b.area_fips = '22051' OR 
        b.area_fips = '22103' OR
        b.area_fips = '22089')
"""

katrina_q1 = gbq.read_gbq(katrina_1, project_id='project-5-276418')  # Edit Hurricane Here.
katrina_q2 = gbq.read_gbq(katrina_2, project_id='project-5-276418') 
katrina_q3 = gbq.read_gbq(katrina_3, project_id='project-5-276418') 
katrina_q4 = gbq.read_gbq(katrina_4, project_id='project-5-276418') 

katrina_df = pd.concat([katrina_q1, katrina_q2, katrina_q3, katrina_q4], axis=1)
katrina_df['geoid'] = 'Katrina'
katrina_df.to_csv('../new_datasets/katrina.csv', index=False)

Downloading: 100%|██████████| 6/6 [00:00<00:00, 15.86rows/s]
Downloading: 100%|██████████| 6/6 [00:00<00:00, 21.14rows/s]
Downloading: 100%|██████████| 6/6 [00:00<00:00, 24.20rows/s]
Downloading: 100%|██████████| 6/6 [00:00<00:00, 24.97rows/s]

In [63]:
# Maria >>>
# Q1
maria_1 = """ 
SELECT *
FROM `bigquery-public-data.bls_qcew.2017_q2` AS b
WHERE  (b.area_fips = '72127' OR 
        b.area_fips = '72021' OR 
        b.area_fips = '72013' OR 
        b.area_fips = '72025' OR 
        b.area_fips = '72113')
"""
# Q2 
maria_2 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2017_q3` AS b
WHERE  (b.area_fips = '72127' OR 
        b.area_fips = '72021' OR 
        b.area_fips = '72013' OR 
        b.area_fips = '72025' OR 
        b.area_fips = '72113')
"""
# Q3
maria_3 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2017_q4` AS b
WHERE  (b.area_fips = '72127' OR 
        b.area_fips = '72021' OR 
        b.area_fips = '72013' OR 
        b.area_fips = '72025' OR 
        b.area_fips = '72113')
"""
# Q4
maria_4 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2018_q1` AS b
WHERE  (b.area_fips = '72127' OR 
        b.area_fips = '72021' OR 
        b.area_fips = '72013' OR 
        b.area_fips = '72025' OR 
        b.area_fips = '72113')
"""

maria_q1 = gbq.read_gbq(maria_1, project_id='project-5-276418')  # Edit Hurricane Here.
maria_q2 = gbq.read_gbq(maria_2, project_id='project-5-276418') 
maria_q3 = gbq.read_gbq(maria_3, project_id='project-5-276418') 
maria_q4 = gbq.read_gbq(maria_4, project_id='project-5-276418') 

maria_df = pd.concat([maria_q1, maria_q2, maria_q3, maria_q4], axis=1)
maria_df['geoid'] = 'Maria'
maria_df.to_csv('../new_datasets/maria.csv', index=False)

Downloading: 100%|██████████| 5/5 [00:00<00:00, 19.77rows/s]
Downloading: 100%|██████████| 5/5 [00:00<00:00, 20.84rows/s]
Downloading: 100%|██████████| 5/5 [00:00<00:00, 21.10rows/s]
Downloading: 100%|██████████| 5/5 [00:00<00:00, 21.80rows/s]

In [64]:
# Andrew >>>
# Q1
andrew_1 = """ 
SELECT *
FROM `bigquery-public-data.bls_qcew.1992_q2` AS b
WHERE  (b.area_fips = '12025' OR 
        b.area_fips = '12011' OR 
        b.area_fips = '12099' OR 
        b.area_fips = '12087')
"""
# Q2 
andrew_2 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.1992_q3` AS b
WHERE  (b.area_fips = '12025' OR 
        b.area_fips = '12011' OR 
        b.area_fips = '12099' OR 
        b.area_fips = '12087')
"""
# Q3
andrew_3 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.1992_q4` AS b
WHERE  (b.area_fips = '12025' OR 
        b.area_fips = '12011' OR 
        b.area_fips = '12099' OR 
        b.area_fips = '12087')
"""
# Q4
andrew_4 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.1993_q1` AS b
WHERE  (b.area_fips = '12025' OR 
        b.area_fips = '12011' OR 
        b.area_fips = '12099' OR 
        b.area_fips = '12087')
"""

andrew_q1 = gbq.read_gbq(andrew_1, project_id='project-5-276418')  # Edit Hurricane Here.
andrew_q2 = gbq.read_gbq(andrew_2, project_id='project-5-276418')  
andrew_q3 = gbq.read_gbq(andrew_3, project_id='project-5-276418')  
andrew_q4 = gbq.read_gbq(andrew_4, project_id='project-5-276418')  

andrew_df = pd.concat([andrew_q1, andrew_q2, andrew_q3, andrew_q4], axis=1)
andrew_df['geoid'] = 'Andrew'
andrew_df.to_csv('../new_datasets/andrew.csv', index=False)

Downloading: 100%|██████████| 3/3 [00:00<00:00, 13.06rows/s]
Downloading: 100%|██████████| 3/3 [00:00<00:00, 12.86rows/s]
Downloading: 100%|██████████| 3/3 [00:00<00:00, 10.16rows/s]
Downloading: 100%|██████████| 3/3 [00:00<00:00, 12.82rows/s]

In [65]:
# Sandy >>>
# Q1 
sandy_1 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2012_q2` AS b
WHERE  (b.area_fips = '36103' OR 
        b.area_fips = '36059' OR 
        b.area_fips = '36081' OR 
        b.area_fips = '36005' OR
        b.area_fips = '36647' OR
        b.area_fips = '36119' OR
        b.area_fips = '36061')
"""
# Q2
sandy_2 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2012_q3` AS b
WHERE  (b.area_fips = '36103' OR 
        b.area_fips = '36059' OR 
        b.area_fips = '36081' OR 
        b.area_fips = '36005' OR
        b.area_fips = '36647' OR
        b.area_fips = '36119' OR
        b.area_fips = '36061')
"""
# Q3
sandy_3 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2012_q4` AS b
WHERE  (b.area_fips = '36103' OR 
        b.area_fips = '36059' OR 
        b.area_fips = '36081' OR 
        b.area_fips = '36005' OR
        b.area_fips = '36647' OR
        b.area_fips = '36119' OR
        b.area_fips = '36061')
"""
# Q4
sandy_4 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2013_q1` AS b
WHERE  (b.area_fips = '36103' OR 
        b.area_fips = '36059' OR 
        b.area_fips = '36081' OR 
        b.area_fips = '36005' OR
        b.area_fips = '36647' OR
        b.area_fips = '36119' OR
        b.area_fips = '36061')
"""

sandy_q1 = gbq.read_gbq(sandy_1, project_id='project-5-276418')  # Edit Hurricane Here.
sandy_q2 = gbq.read_gbq(sandy_2, project_id='project-5-276418')  
sandy_q3 = gbq.read_gbq(sandy_3, project_id='project-5-276418')  
sandy_q4 = gbq.read_gbq(sandy_4, project_id='project-5-276418')  

sandy_df = pd.concat([sandy_q1, sandy_q2, sandy_q3, sandy_q4], axis=1)
sandy_df['geoid'] = 'Sandy'
sandy_df.to_csv('../new_datasets/sandy.csv', index=False)

Downloading: 100%|██████████| 6/6 [00:00<00:00, 24.14rows/s]
Downloading: 100%|██████████| 6/6 [00:00<00:00, 27.05rows/s]
Downloading: 100%|██████████| 6/6 [00:00<00:00, 26.03rows/s]
Downloading: 100%|██████████| 6/6 [00:00<00:00, 14.47rows/s]

In [66]:
# Irma >>>
# Q1
irma_1 = """ 
SELECT *
FROM `bigquery-public-data.bls_qcew.2017_q2` AS b
WHERE  (b.area_fips = '72127' OR 
        b.area_fips = '72021' OR 
        b.area_fips = '72013' OR 
        b.area_fips = '72025' OR
        b.area_fips = '72113' OR
        b.area_fips = '12025' OR
        b.area_fips = '12011' OR
        b.area_fips = '12099' OR
        b.area_fips = '12087' OR
        b.area_fips = '12043' OR
        b.area_fips = '12021' OR
        b.area_fips = '12071' OR
        b.area_fips = '12051' OR
        b.area_fips = '12115')
"""
# Q2 
irma_2 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2017_q3` AS b
WHERE  (b.area_fips = '72127' OR 
        b.area_fips = '72021' OR 
        b.area_fips = '72013' OR 
        b.area_fips = '72025' OR
        b.area_fips = '72113' OR
        b.area_fips = '12025' OR
        b.area_fips = '12011' OR
        b.area_fips = '12099' OR
        b.area_fips = '12087' OR
        b.area_fips = '12043' OR
        b.area_fips = '12021' OR
        b.area_fips = '12071' OR
        b.area_fips = '12051' OR
        b.area_fips = '12115')
"""
# Q3
irma_3 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2017_q4` AS b
WHERE  (b.area_fips = '72127' OR 
        b.area_fips = '72021' OR 
        b.area_fips = '72013' OR 
        b.area_fips = '72025' OR
        b.area_fips = '72113' OR
        b.area_fips = '12025' OR
        b.area_fips = '12011' OR
        b.area_fips = '12099' OR
        b.area_fips = '12087' OR
        b.area_fips = '12043' OR
        b.area_fips = '12021' OR
        b.area_fips = '12071' OR
        b.area_fips = '12051' OR
        b.area_fips = '12115')
"""
# Q4
irma_4 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2018_q1` AS b
WHERE  (b.area_fips = '72127' OR 
        b.area_fips = '72021' OR 
        b.area_fips = '72013' OR 
        b.area_fips = '72025' OR
        b.area_fips = '72113' OR
        b.area_fips = '12025' OR
        b.area_fips = '12011' OR
        b.area_fips = '12099' OR
        b.area_fips = '12087' OR
        b.area_fips = '12043' OR
        b.area_fips = '12021' OR
        b.area_fips = '12071' OR
        b.area_fips = '12051' OR
        b.area_fips = '12115')
"""

irma_q1 = gbq.read_gbq(irma_1, project_id='project-5-276418')  # Edit Hurricane Here.
irma_q2 = gbq.read_gbq(irma_2, project_id='project-5-276418')  
irma_q3 = gbq.read_gbq(irma_3, project_id='project-5-276418')  
irma_q4 = gbq.read_gbq(irma_4, project_id='project-5-276418')  

irma_df = pd.concat([irma_q1, irma_q2, irma_q3, irma_q4], axis=1)
irma_df['geoid'] = 'Irma'
irma_df.to_csv('../new_datasets/irma.csv', index=False)

Downloading: 100%|██████████| 13/13 [00:00<00:00, 51.60rows/s]
Downloading: 100%|██████████| 13/13 [00:00<00:00, 49.89rows/s]
Downloading: 100%|██████████| 13/13 [00:00<00:00, 52.85rows/s]
Downloading: 100%|██████████| 13/13 [00:00<00:00, 48.54rows/s]

In [67]:
# Ike >>>
# Q1
ike_1 = """ 
SELECT *
FROM `bigquery-public-data.bls_qcew.2008_q2` AS b
WHERE  (b.area_fips = '48071' OR 
        b.area_fips = '48167' OR 
        b.area_fips = '48245' OR 
        b.area_fips = '48201')
"""
# Q2 
ike_2 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2008_q3` AS b
WHERE  (b.area_fips = '48071' OR 
        b.area_fips = '48167' OR 
        b.area_fips = '48245' OR 
        b.area_fips = '48201')
"""
# Q3
ike_3 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2008_q4` AS b
WHERE  (b.area_fips = '48071' OR 
        b.area_fips = '48167' OR 
        b.area_fips = '48245' OR 
        b.area_fips = '48201')
"""
# Q4
ike_4 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2009_q1` AS b
WHERE  (b.area_fips = '48071' OR 
        b.area_fips = '48167' OR 
        b.area_fips = '48245' OR 
        b.area_fips = '48201')
"""

ike_q1 = gbq.read_gbq(ike_1, project_id='project-5-276418')  # Edit Hurricane Here.
ike_q2 = gbq.read_gbq(ike_2, project_id='project-5-276418')  
ike_q3 = gbq.read_gbq(ike_3, project_id='project-5-276418')  
ike_q4 = gbq.read_gbq(ike_4, project_id='project-5-276418') 

ike_df = pd.concat([ike_q1, ike_q2, ike_q3, ike_q4], axis=1)
ike_df['geoid'] = 'Ike'
ike_df.to_csv('../new_datasets/ike.csv', index=False)

Downloading: 100%|██████████| 4/4 [00:00<00:00, 10.28rows/s]
Downloading: 100%|██████████| 4/4 [00:00<00:00, 10.11rows/s]
Downloading: 100%|██████████| 4/4 [00:00<00:00, 16.31rows/s]
Downloading: 100%|██████████| 4/4 [00:00<00:00, 10.91rows/s]

In [68]:
# Wilma >>>
# Q1
wilma_1 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2005_q2` AS b
WHERE  (b.area_fips = '12025' OR 
        b.area_fips = '12011' OR 
        b.area_fips = '12099' OR
        b.area_fips = '12087' OR 
        b.area_fips = '12043' OR
        b.area_fips = '12021' OR 
        b.area_fips = '12071' OR
        b.area_fips = '12051')
"""
# Q3
wilma_2 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2005_q3` AS b
WHERE  (b.area_fips = '12025' OR 
        b.area_fips = '12011' OR 
        b.area_fips = '12099' OR
        b.area_fips = '12087' OR 
        b.area_fips = '12043' OR
        b.area_fips = '12021' OR 
        b.area_fips = '12071' OR
        b.area_fips = '12051')
"""
# Q4
wilma_3 = """ 
SELECT *
FROM `bigquery-public-data.bls_qcew.2005_q4` AS b
WHERE  (b.area_fips = '12025' OR 
        b.area_fips = '12011' OR 
        b.area_fips = '12099' OR
        b.area_fips = '12087' OR 
        b.area_fips = '12043' OR
        b.area_fips = '12021' OR 
        b.area_fips = '12071' OR
        b.area_fips = '12051')
"""
# Q4 
wilma_4 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2006_q1` AS b
WHERE  (b.area_fips = '12025' OR 
        b.area_fips = '12011' OR 
        b.area_fips = '12099' OR
        b.area_fips = '12087' OR 
        b.area_fips = '12043' OR
        b.area_fips = '12021' OR 
        b.area_fips = '12071' OR
        b.area_fips = '12051')
"""
wilma_q1 = gbq.read_gbq(wilma_1, project_id='project-5-276418')  # Edit Hurricane Here.
wilma_q2 = gbq.read_gbq(wilma_2, project_id='project-5-276418') 
wilma_q3 = gbq.read_gbq(wilma_3, project_id='project-5-276418') 
wilma_q4 = gbq.read_gbq(wilma_4, project_id='project-5-276418')  

wilma_df = pd.concat([wilma_q1, wilma_q2, wilma_q3, wilma_q4], axis=1)
wilma_df['geoid'] = 'Wilma'
wilma_df.to_csv('../new_datasets/wilma.csv', index=False)

Downloading: 100%|██████████| 7/7 [00:00<00:00, 29.15rows/s]
Downloading: 100%|██████████| 7/7 [00:00<00:00, 28.23rows/s]
Downloading: 100%|██████████| 7/7 [00:00<00:00, 18.06rows/s]
Downloading: 100%|██████████| 7/7 [00:00<00:00, 31.66rows/s]

In [69]:
# Ivan >>>
# Q1
ivan_1 = """ 
SELECT *
FROM `bigquery-public-data.bls_qcew.2004_q2` AS b
WHERE  (b.area_fips = '22051' OR 
        b.area_fips = '22075' OR 
        b.area_fips = '22103' OR
        b.area_fips = '22095' OR 
        b.area_fips = '22093' OR
        b.area_fips = '01003' OR 
        b.area_fips = '01053' OR
        b.area_fips = '01097' OR
        b.area_fips = '12045' OR
        b.area_fips = '12095' OR
        b.area_fips = '12113')
"""
# Q2 
ivan_2 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2004_q3` AS b
WHERE  (b.area_fips = '22051' OR 
        b.area_fips = '22075' OR 
        b.area_fips = '22103' OR
        b.area_fips = '22095' OR 
        b.area_fips = '22093' OR
        b.area_fips = '01003' OR 
        b.area_fips = '01053' OR
        b.area_fips = '01097' OR
        b.area_fips = '12045' OR
        b.area_fips = '12095' OR
        b.area_fips = '12113')
"""
# Q3
ivan_3 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2004_q4` AS b
WHERE  (b.area_fips = '22051' OR 
        b.area_fips = '22075' OR 
        b.area_fips = '22103' OR
        b.area_fips = '22095' OR 
        b.area_fips = '22093' OR
        b.area_fips = '01003' OR 
        b.area_fips = '01053' OR
        b.area_fips = '01097' OR
        b.area_fips = '12045' OR
        b.area_fips = '12095' OR
        b.area_fips = '12113')
"""
# Q4
ivan_4 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2005_q1` AS b
WHERE  (b.area_fips = '22051' OR 
        b.area_fips = '22075' OR 
        b.area_fips = '22103' OR
        b.area_fips = '22095' OR 
        b.area_fips = '22093' OR
        b.area_fips = '01003' OR 
        b.area_fips = '01053' OR
        b.area_fips = '01097' OR
        b.area_fips = '12045' OR
        b.area_fips = '12095' OR
        b.area_fips = '12113')
"""

ivan_q1 = gbq.read_gbq(ivan_1, project_id='project-5-276418')  # Edit Hurricane Here.
ivan_q2 = gbq.read_gbq(ivan_2, project_id='project-5-276418')  
ivan_q3 = gbq.read_gbq(ivan_3, project_id='project-5-276418')  
ivan_q4 = gbq.read_gbq(ivan_4, project_id='project-5-276418')  

ivan_df = pd.concat([ivan_q1, ivan_q2, ivan_q3, ivan_q4], axis=1)
ivan_df['geoid'] = 'Ivan'
ivan_df.to_csv('../new_datasets/ivan.csv', index=False)

Downloading: 100%|██████████| 11/11 [00:00<00:00, 26.54rows/s]
Downloading: 100%|██████████| 11/11 [00:00<00:00, 48.93rows/s]
Downloading: 100%|██████████| 11/11 [00:00<00:00, 44.90rows/s]
Downloading: 100%|██████████| 11/11 [00:00<00:00, 41.59rows/s]

In [70]:
# Michael >>>
# Q1
michael_1 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2018_q2` AS b
WHERE  (b.area_fips = '12005' OR 
        b.area_fips = '12045' OR 
        b.area_fips = '12129' OR
        b.area_fips = '12091' OR 
        b.area_fips = '12037' OR
        b.area_fips = '13087' OR 
        b.area_fips = '13253')
"""
# Q2
michael_2 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2018_q3` AS b
WHERE  (b.area_fips = '12005' OR 
        b.area_fips = '12045' OR 
        b.area_fips = '12129' OR
        b.area_fips = '12091' OR 
        b.area_fips = '12037' OR
        b.area_fips = '13087' OR 
        b.area_fips = '13253')
"""
# Q3
michael_3 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2018_q4` AS b
WHERE  (b.area_fips = '12005' OR 
        b.area_fips = '12045' OR 
        b.area_fips = '12129' OR
        b.area_fips = '12091' OR 
        b.area_fips = '12037' OR
        b.area_fips = '13087' OR 
        b.area_fips = '13253')
"""
# Q4
michael_4 = """ 
SELECT *
FROM `bigquery-public-data.bls_qcew.2019_q1` AS b
WHERE  (b.area_fips = '12005' OR 
        b.area_fips = '12045' OR 
        b.area_fips = '12129' OR
        b.area_fips = '12091' OR 
        b.area_fips = '12037' OR
        b.area_fips = '13087' OR 
        b.area_fips = '13253')
"""
michael_q1 = gbq.read_gbq(michael_1, project_id='project-5-276418')  # Edit Hurricane Here.
michael_q2 = gbq.read_gbq(michael_2, project_id='project-5-276418')  
michael_q3 = gbq.read_gbq(michael_3, project_id='project-5-276418')  
michael_q4 = gbq.read_gbq(michael_4, project_id='project-5-276418')  

michael_df = pd.concat([michael_q1, michael_q2, michael_q3, michael_q4], axis=1)
michael_df['geoid'] = 'Michael'
michael_df.to_csv('../new_datasets/michael.csv', index=False)

Downloading: 100%|██████████| 7/7 [00:00<00:00, 31.81rows/s]
Downloading: 100%|██████████| 7/7 [00:00<00:00, 31.46rows/s]
Downloading: 100%|██████████| 7/7 [00:00<00:00, 29.58rows/s]
Downloading: 100%|██████████| 7/7 [00:00<00:00, 17.45rows/s]

In [71]:
# Rita >>>
# Q1
rita_1 = """ 
SELECT *
FROM `bigquery-public-data.bls_qcew.2005_q2` AS b
WHERE  (b.area_fips = '22051' OR 
        b.area_fips = '22075' OR 
        b.area_fips = '22103' OR
        b.area_fips = '22095' OR 
        b.area_fips = '22093' OR
        b.area_fips = '22023' OR
        b.area_fips = '22045' OR 
        b.area_fips = '22053' OR 
        b.area_fips = '22001' OR 
        b.area_fips = '12025' OR
        b.area_fips = '48167' OR
        b.area_fips = '48245' OR
        b.area_fips = '48201')
"""
# Q2 
rita_2 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2005_q3` AS b
WHERE  (b.area_fips = '22051' OR 
        b.area_fips = '22075' OR 
        b.area_fips = '22103' OR
        b.area_fips = '22095' OR 
        b.area_fips = '22093' OR
        b.area_fips = '22023' OR
        b.area_fips = '22045' OR 
        b.area_fips = '22053' OR 
        b.area_fips = '22001' OR 
        b.area_fips = '12025' OR
        b.area_fips = '48167' OR
        b.area_fips = '48245' OR
        b.area_fips = '48201')
"""
# Q3
rita_3= """
SELECT *
FROM `bigquery-public-data.bls_qcew.2005_q4` AS b
WHERE  (b.area_fips = '22051' OR 
        b.area_fips = '22075' OR 
        b.area_fips = '22103' OR
        b.area_fips = '22095' OR 
        b.area_fips = '22093' OR
        b.area_fips = '22023' OR
        b.area_fips = '22045' OR 
        b.area_fips = '22053' OR 
        b.area_fips = '22001' OR 
        b.area_fips = '12025' OR
        b.area_fips = '48167' OR
        b.area_fips = '48245' OR
        b.area_fips = '48201')
"""
# Q4
rita_4= """
SELECT *
FROM `bigquery-public-data.bls_qcew.2006_q1` AS b
WHERE  (b.area_fips = '22051' OR 
        b.area_fips = '22075' OR 
        b.area_fips = '22103' OR
        b.area_fips = '22095' OR 
        b.area_fips = '22093' OR
        b.area_fips = '22023' OR
        b.area_fips = '22045' OR 
        b.area_fips = '22053' OR 
        b.area_fips = '22001' OR 
        b.area_fips = '12025' OR
        b.area_fips = '48167' OR
        b.area_fips = '48245' OR
        b.area_fips = '48201')
"""

rita_q1 = gbq.read_gbq(rita_1, project_id='project-5-276418')  # Edit Hurricane Here.
rita_q2 = gbq.read_gbq(rita_2, project_id='project-5-276418')  
rita_q3 = gbq.read_gbq(rita_3, project_id='project-5-276418')  
rita_q4 = gbq.read_gbq(rita_4, project_id='project-5-276418')  

rita_df = pd.concat([rita_q1, rita_q2, rita_q3, rita_q4], axis=1)
rita_df['geoid'] = 'Rita'
rita_df.to_csv('../new_datasets/rita.csv', index=False)

Downloading: 100%|██████████| 12/12 [00:00<00:00, 43.20rows/s]
Downloading: 100%|██████████| 12/12 [00:00<00:00, 48.35rows/s]
Downloading: 100%|██████████| 12/12 [00:00<00:00, 33.50rows/s]
Downloading: 100%|██████████| 12/12 [00:00<00:00, 50.17rows/s]

In [72]:
# Mattthew >>>
# Q21
matthew_1 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2016_q2` AS b
WHERE  (b.area_fips = '12031' OR 
        b.area_fips = '12095' OR 
        b.area_fips = '45019' OR
        b.area_fips = '45013' OR 
        b.area_fips = '45051' OR
        b.area_fips = '37183' OR
        b.area_fips = '37129')
"""
# Q2
matthew_2= """
SELECT *
FROM `bigquery-public-data.bls_qcew.2016_q3` AS b
WHERE  (b.area_fips = '12031' OR 
        b.area_fips = '12095' OR 
        b.area_fips = '45019' OR
        b.area_fips = '45013' OR 
        b.area_fips = '45051' OR
        b.area_fips = '37183' OR
        b.area_fips = '37129')
"""
# Q3
matthew_3= """
SELECT *
FROM `bigquery-public-data.bls_qcew.2016_q4` AS b
WHERE  (b.area_fips = '12031' OR 
        b.area_fips = '12095' OR 
        b.area_fips = '45019' OR
        b.area_fips = '45013' OR 
        b.area_fips = '45051' OR
        b.area_fips = '37183' OR
        b.area_fips = '37129')
"""
# Q4
matthew_4 = """ 
SELECT *
FROM `bigquery-public-data.bls_qcew.2017_q1` AS b
WHERE  (b.area_fips = '12031' OR 
        b.area_fips = '12095' OR 
        b.area_fips = '45019' OR
        b.area_fips = '45013' OR 
        b.area_fips = '45051' OR
        b.area_fips = '37183' OR
        b.area_fips = '37129')
"""
matthew_q1 = gbq.read_gbq(matthew_1, project_id='project-5-276418')  # Edit Hurricane Here.
matthew_q2 = gbq.read_gbq(matthew_2, project_id='project-5-276418')  
matthew_q3 = gbq.read_gbq(matthew_3, project_id='project-5-276418')  
matthew_q4 = gbq.read_gbq(matthew_4, project_id='project-5-276418')  

matthew_df = pd.concat([matthew_q1, matthew_q2, matthew_q3, matthew_q4], axis=1)
matthew_df['geoid'] = 'Matthew'
matthew_df.to_csv('../new_datasets/matthew.csv', index=False)

Downloading: 100%|██████████| 7/7 [00:00<00:00, 10.20rows/s]
Downloading: 100%|██████████| 7/7 [00:00<00:00, 30.83rows/s]
Downloading: 100%|██████████| 7/7 [00:00<00:00, 18.88rows/s]
Downloading: 100%|██████████| 7/7 [00:00<00:00, 30.66rows/s]

In [73]:
# Charlie >>>
# Q1
charlie_1 = """ 
SELECT *
FROM `bigquery-public-data.bls_qcew.2004_q2` AS b
WHERE  (b.area_fips = '12015' OR 
        b.area_fips = '12087' OR 
        b.area_fips = '12021' OR
        b.area_fips = '12027' OR 
        b.area_fips = '12049' OR
        b.area_fips = '12095')
"""
# Q2 
charlie_2 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2004_q3` AS b
WHERE  (b.area_fips = '12015' OR 
        b.area_fips = '12087' OR 
        b.area_fips = '12021' OR
        b.area_fips = '12027' OR 
        b.area_fips = '12049' OR
        b.area_fips = '12095')
"""
# Q3
charlie_3= """
SELECT *
FROM `bigquery-public-data.bls_qcew.2004_q4` AS b
WHERE  (b.area_fips = '12015' OR 
        b.area_fips = '12087' OR 
        b.area_fips = '12021' OR
        b.area_fips = '12027' OR 
        b.area_fips = '12049' OR
        b.area_fips = '12095')
"""
# Q4
charlie_4= """
SELECT *
FROM `bigquery-public-data.bls_qcew.2005_q1` AS b
WHERE  (b.area_fips = '12015' OR 
        b.area_fips = '12087' OR 
        b.area_fips = '12021' OR
        b.area_fips = '12027' OR 
        b.area_fips = '12049' OR
        b.area_fips = '12095')
"""

charlie_q1 = gbq.read_gbq(charlie_1, project_id='project-5-276418')  # Edit Hurricane Here.
charlie_q2 = gbq.read_gbq(charlie_2, project_id='project-5-276418')  
charlie_q3 = gbq.read_gbq(charlie_3, project_id='project-5-276418')  
charlie_q4 = gbq.read_gbq(charlie_4, project_id='project-5-276418')  

charlie_df = pd.concat([charlie_q1, charlie_q2, charlie_q3, charlie_q4], axis=1)
charlie_df['geoid'] = 'Charlie'
charlie_df.to_csv('../new_datasets/charlie.csv', index=False)

Downloading: 100%|██████████| 6/6 [00:00<00:00, 25.61rows/s]
Downloading: 100%|██████████| 6/6 [00:00<00:00, 21.57rows/s]
Downloading: 100%|██████████| 6/6 [00:00<00:00, 16.23rows/s]
Downloading: 100%|██████████| 6/6 [00:00<00:00, 27.32rows/s]

In [74]:
# Frances >>>
# Q1
frances_1 = """ 
SELECT *
FROM `bigquery-public-data.bls_qcew.2004_q2` AS b
WHERE  (b.area_fips = '12099' OR 
        b.area_fips = '12011' OR 
        b.area_fips = '12086' OR
        b.area_fips = '12095' OR 
        b.area_fips = '12085' OR
        b.area_fips = '72127' OR
        b.area_fips = '72057' OR
        b.area_fips = '72049' OR
        b.area_fips = '72147' OR
        b.area_fips = '72025' OR
        b.area_fips = '72113')
"""
# Q2 
frances_2 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2004_q3` AS b
WHERE  (b.area_fips = '12099' OR 
        b.area_fips = '12011' OR 
        b.area_fips = '12086' OR
        b.area_fips = '12095' OR 
        b.area_fips = '12085' OR
        b.area_fips = '72127' OR
        b.area_fips = '72057' OR
        b.area_fips = '72049' OR
        b.area_fips = '72147' OR
        b.area_fips = '72025' OR
        b.area_fips = '72113')
"""
# Q3
frances_3= """
SELECT *
FROM `bigquery-public-data.bls_qcew.2004_q4` AS b
WHERE  (b.area_fips = '12099' OR 
        b.area_fips = '12011' OR 
        b.area_fips = '12086' OR
        b.area_fips = '12095' OR 
        b.area_fips = '12085' OR
        b.area_fips = '72127' OR
        b.area_fips = '72057' OR
        b.area_fips = '72049' OR
        b.area_fips = '72147' OR
        b.area_fips = '72025' OR
        b.area_fips = '72113')
"""
# Q4
frances_4= """
SELECT *
FROM `bigquery-public-data.bls_qcew.2005_q1` AS b
WHERE  (b.area_fips = '12099' OR 
        b.area_fips = '12011' OR 
        b.area_fips = '12086' OR
        b.area_fips = '12095' OR 
        b.area_fips = '12085' OR
        b.area_fips = '72127' OR
        b.area_fips = '72057' OR
        b.area_fips = '72049' OR
        b.area_fips = '72147' OR
        b.area_fips = '72025' OR
        b.area_fips = '72113')
"""

frances_q1 = gbq.read_gbq(frances_1, project_id='project-5-276418')  # Edit Hurricane Here.
frances_q2 = gbq.read_gbq(frances_2, project_id='project-5-276418')  
frances_q3 = gbq.read_gbq(frances_3, project_id='project-5-276418')  
frances_q4 = gbq.read_gbq(frances_4, project_id='project-5-276418')  

frances_df = pd.concat([frances_q1, frances_q2, frances_q3, frances_q4], axis=1)
frances_df['geoid'] = 'Frances'
frances_df.to_csv('../new_datasets/frances.csv', index=False)

Downloading: 100%|██████████| 11/11 [00:00<00:00, 46.86rows/s]
Downloading: 100%|██████████| 11/11 [00:00<00:00, 21.84rows/s]
Downloading: 100%|██████████| 11/11 [00:00<00:00, 43.59rows/s]
Downloading: 100%|██████████| 11/11 [00:00<00:00, 45.58rows/s]

In [75]:
# Irene >>>
# Q1
irene_1 = """ 
SELECT *
FROM `bigquery-public-data.bls_qcew.2011_q2` AS b
WHERE  (b.area_fips = '72063' OR 
        b.area_fips = '72127' OR 
        b.area_fips = '72049' OR
        b.area_fips = '72151' OR 
        b.area_fips = '34009' OR
        b.area_fips = '34001' OR
        b.area_fips = '34017' OR
        b.area_fips = '34021' OR
        b.area_fips = '36059' OR
        b.area_fips = '36095' OR
        b.area_fips = '36061' OR
        b.area_fips = '37137' OR
        b.area_fips = '37177' OR
        b.area_fips = '51810' OR
        b.area_fips = '51800' OR
        b.area_fips = '51700')
"""
# Q2 
irene_2 = """
SELECT *
FROM `bigquery-public-data.bls_qcew.2011_q3` AS b
WHERE  (b.area_fips = '72063' OR 
        b.area_fips = '72127' OR 
        b.area_fips = '72049' OR
        b.area_fips = '72151' OR 
        b.area_fips = '34009' OR
        b.area_fips = '34001' OR
        b.area_fips = '34017' OR
        b.area_fips = '34021' OR
        b.area_fips = '36059' OR
        b.area_fips = '36095' OR
        b.area_fips = '36061' OR
        b.area_fips = '37137' OR
        b.area_fips = '37177' OR
        b.area_fips = '51810' OR
        b.area_fips = '51800' OR
        b.area_fips = '51700')
"""
# Q3
irene_3= """
SELECT *
FROM `bigquery-public-data.bls_qcew.2011_q4` AS b
WHERE  (b.area_fips = '72063' OR 
        b.area_fips = '72127' OR 
        b.area_fips = '72049' OR
        b.area_fips = '72151' OR 
        b.area_fips = '34009' OR
        b.area_fips = '34001' OR
        b.area_fips = '34017' OR
        b.area_fips = '34021' OR
        b.area_fips = '36059' OR
        b.area_fips = '36095' OR
        b.area_fips = '36061' OR
        b.area_fips = '37137' OR
        b.area_fips = '37177' OR
        b.area_fips = '51810' OR
        b.area_fips = '51800' OR
        b.area_fips = '51700')
"""
# Q4
irene_4= """
SELECT *
FROM `bigquery-public-data.bls_qcew.2012_q1` AS b
WHERE  (b.area_fips = '72063' OR 
        b.area_fips = '72127' OR 
        b.area_fips = '72049' OR
        b.area_fips = '72151' OR 
        b.area_fips = '34009' OR
        b.area_fips = '34001' OR
        b.area_fips = '34017' OR
        b.area_fips = '34021' OR
        b.area_fips = '36059' OR
        b.area_fips = '36095' OR
        b.area_fips = '36061' OR
        b.area_fips = '37137' OR
        b.area_fips = '37177' OR
        b.area_fips = '51810' OR
        b.area_fips = '51800' OR
        b.area_fips = '51700')
"""

irene_q1 = gbq.read_gbq(irene_1, project_id='project-5-276418')  # Edit Hurricane Here.
irene_q2 = gbq.read_gbq(irene_2, project_id='project-5-276418')  
irene_q3 = gbq.read_gbq(irene_3, project_id='project-5-276418')  
irene_q4 = gbq.read_gbq(irene_4, project_id='project-5-276418')  

irene_df = pd.concat([irene_q1, irene_q2, irene_q3, irene_q4], axis=1)
irene_df['geoid'] = 'Irene'
irene_df.to_csv('../new_datasets/irene.csv', index=False)

Downloading: 100%|██████████| 16/16 [00:00<00:00, 39.63rows/s]
Downloading: 100%|██████████| 16/16 [00:00<00:00, 66.10rows/s]
Downloading: 100%|██████████| 16/16 [00:00<00:00, 64.84rows/s]
Downloading: 100%|██████████| 16/16 [00:00<00:00, 73.61rows/s]