In [1]:
import pandas as pd
import numpy as np

In [3]:
wages=pd.read_csv('../datasets/other/wages_final.csv')

In [4]:
wages.head()

,year,quarter,area_fips,area_title,quarterly_establishments,month_3_employment,month_3_employment_percent_change_oty,month_3_employment_rank,average_weekly_wages,average_weekly_wages_percent_change_oty,...,quarter.3,area_fips.3,area_title.3,quarterly_establishments.3,month_3_employment.3,month_3_employment_percent_change_oty.3,month_3_employment_rank.3,average_weekly_wages.3,average_weekly_wages_percent_change_oty.3,average_weekly_wages_rank.3
0,2017,1,48201,"Harris, TX",114300,2262300,-0.3,314,1444,4.2,...,4,48201,"Harris, TX",115300,2293300,1.1,181,1352,2.4,241
1,2017,1,48245,"Jefferson, TX",5900,122700,0.6,259,1138,6.0,...,4,48245,"Jefferson, TX",5900,121300,-0.6,332,1136,4.4,61
2,2017,1,48167,"Galveston, TX",6200,109900,3.7,15,951,2.7,...,4,48167,"Galveston, TX",6200,110700,0.0,317,944,3.3,141
3,2017,1,48039,"Brazoria, TX",5700,105600,0.6,259,1110,3.6,...,4,48039,"Brazoria, TX",5800,111000,0.6,255,1134,3.2,151
4,2017,1,48355,"Nueces, TX",8300,162300,1.2,197,915,7.9,...,4,48355,"Nueces, TX",8300,163500,0.8,229,930,3.7,107

In [5]:
wages.isnull().sum()

year                                         0
quarter                                      0
area_fips                                    0
area_title                                   0
quarterly_establishments                     0
month_3_employment                           0
month_3_employment_percent_change_oty        0
month_3_employment_rank                      0
average_weekly_wages                         0
average_weekly_wages_percent_change_oty      0
average_weekly_wages_rank                    0
year.1                                       0
quarter.1                                    0
area_fips.1                                  0
area_title.1                                 0
quarterly_establishments.1                   0
month_3_employment.1                         0
month_3_employment_percent_change_oty.1      0
month_3_employment_rank.1                    0
average_weekly_wages.1                       0
average_weekly_wages_percent_change_oty.1    0
average_weekly_wages_rank.1                  0
year.2                                       0
quarter.2                                    0
area_fips.2                                  0
area_title.2                                 0
quarterly_establishments.2                   0
month_3_employment.2                         0
month_3_employment_percent_change_oty.2      0
month_3_employment_rank.2                    0
average_weekly_wages.2                       0
average_weekly_wages_percent_change_oty.2    0
average_weekly_wages_rank.2                  0
year.3                                       0
quarter.3                                    0
area_fips.3                                  0
area_title.3                                 0
quarterly_establishments.3                   0
month_3_employment.3                         0
month_3_employment_percent_change_oty.3      0
month_3_employment_rank.3                    0
average_weekly_wages.3                       0
average_weekly_wages_percent_change_oty.3    0
average_weekly_wages_rank.3                  0
dtype: int64

In [6]:
wages.shape

(57, 44)

In [7]:
#Read in individual hurricane data and concatenate
charlie = pd.read_csv('../datasets/charlie.csv')
frances = pd.read_csv('../datasets/frances.csv')
harvey = pd.read_csv('../datasets/harvey.csv')
ike = pd.read_csv('../datasets/ike.csv')
irene = pd.read_csv('../datasets/irene.csv')
irma = pd.read_csv('../datasets/irma.csv')
ivan = pd.read_csv('../datasets/ivan.csv')
katrina = pd.read_csv('../datasets/katrina.csv')
maria = pd.read_csv('../datasets/maria.csv')
matthew = pd.read_csv('../datasets/matthew.csv')
michael = pd.read_csv('../datasets/michael.csv')
rita = pd.read_csv('../datasets/rita.csv')
sandy = pd.read_csv('../datasets/sandy.csv')
wilma = pd.read_csv('../datasets/wilma.csv')

df = pd.concat([charlie, frances, harvey, ike, irene, irma, ivan, katrina, maria, matthew, michael, rita, sandy, wilma])

In [8]:
cost_df = pd.read_csv('../datasets/cost.csv')

In [9]:
new_df = pd.merge(df, cost_df, left_on=['geoid'], right_on=['name'], how='inner')

In [10]:
# Read in damage estimate data, and then divide it up by county
new_df['damage_by_county'] = 0
for i in new_df['geoid'].unique():
    count = new_df[new_df['geoid'] == i].shape[0]
    new_df.loc[new_df['geoid'] == i,'damage_by_county'] = new_df.loc[new_df['geoid'] == i,'adjusted_damage'] * .8/count

In [11]:
new_df.columns[0:10]

Index(['geoid', 'area_fips',
       'qtrly_estabs_11_agriculture_forestry_fishing_and_hunting',
       'avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting',
       'month3_emplvl_11_agriculture_forestry_fishing_and_hunting',
       'lq_avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting',
       'lq_qtrly_estabs_11_agriculture_forestry_fishing_and_hunting',
       'lq_month3_emplvl_11_agriculture_forestry_fishing_and_hunting',
       'qtrly_estabs_1024_professional_and_business_services',
       'avg_wkly_wage_1024_professional_and_business_services'],
      dtype='object')

In [12]:
new_df.shape

(120, 788)

In [13]:
new_df.to_csv('../datasets/no_wage_data1.csv',index=False)

In [14]:
#Strip minor fips codes that arent in nationla wage data out
new_df=new_df[new_df['area_fips'].isin(wages['area_fips'])]

In [15]:
new_df.shape

(56, 788)

In [16]:
wages.shape

(57, 44)

In [17]:
n=sorted(list(new_df['area_fips'].unique()))

In [18]:
w=sorted(list(wages['area_fips'].unique()))

In [19]:
#Find extraneous fips that weren't stripped out
for i in range(12):
    print(n[i],w[i],i)
print(w[33])

12005 12005 0
12011 12011 1
12021 12021 2
12031 12031 3
12071 12033 4
12086 12071 5
12091 12086 6
12095 12091 7
12099 12095 8
12115 12099 9
22051 12115 10
22071 22051 11
72127

In [20]:
wages.shape,new_df.shape

((57, 44), (56, 788))

In [21]:
#Remove Andrew, which happens before our data starts
new_df=new_df[new_df['geoid']!='Andrew']
wages=wages[wages['area_fips']!=12033]

In [22]:
new_df.shape,wages.shape

((56, 788), (56, 44))

In [23]:
new_df.columns

Index(['geoid', 'area_fips',
       'qtrly_estabs_11_agriculture_forestry_fishing_and_hunting',
       'avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting',
       'month3_emplvl_11_agriculture_forestry_fishing_and_hunting',
       'lq_avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting',
       'lq_qtrly_estabs_11_agriculture_forestry_fishing_and_hunting',
       'lq_month3_emplvl_11_agriculture_forestry_fishing_and_hunting',
       'qtrly_estabs_1024_professional_and_business_services',
       'avg_wkly_wage_1024_professional_and_business_services',
       ...
       'lq_month3_emplvl_48_49_transportation_and_warehousing.3', 'quarter.3',
       'rank', 'name', 'states', 'year', 'category', 'damage',
       'adjusted_damage', 'damage_by_county'],
      dtype='object', length=788)

In [24]:
#Line these up to merge them
new_df=new_df.sort_values(by=['year','area_fips'])
wages=wages.sort_values(by=['year','area_fips'])

In [25]:
new_df.head(10)

,geoid,area_fips,qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,month3_emplvl_11_agriculture_forestry_fishing_and_hunting,lq_avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting,lq_qtrly_estabs_11_agriculture_forestry_fishing_and_hunting,lq_month3_emplvl_11_agriculture_forestry_fishing_and_hunting,qtrly_estabs_1024_professional_and_business_services,avg_wkly_wage_1024_professional_and_business_services,...,lq_month3_emplvl_48_49_transportation_and_warehousing.3,quarter.3,rank,name,states,year,category,damage,adjusted_damage,damage_by_county
16,Frances,12011,127.0,359.0,1012.0,0.93,0.19,0.18,13583.0,778.0,...,0.87,1.0,15,Frances,FL,2004,2,9.8,12.9,0.938182
4,Charlie,12021,98.0,291.0,9653.0,0.85,0.80,9.29,2131.0,679.0,...,0.36,1.0,12,Charlie,FL,2004,4,16.0,21.1,2.813333
14,Frances,12086,440.0,338.0,10920.0,0.86,0.47,1.36,15995.0,830.0,...,0.00,1.0,15,Frances,FL,2004,2,9.8,12.9,0.938182
0,Charlie,12095,227.0,0.0,0.0,0.00,0.65,0.00,6576.0,773.0,...,0.95,1.0,12,Charlie,FL,2004,4,16.0,21.1,2.813333
13,Frances,12095,227.0,0.0,0.0,0.00,0.65,0.00,6576.0,773.0,...,0.95,1.0,15,Frances,FL,2004,2,9.8,12.9,0.938182
65,Ivan,12095,227.0,0.0,0.0,0.00,0.65,0.00,6576.0,773.0,...,0.95,1.0,8,Ivan,"AL, FL",2004,3,20.5,27.1,1.970909
12,Frances,12099,368.0,481.0,9848.0,1.22,0.73,2.29,10108.0,832.0,...,0.00,1.0,15,Frances,FL,2004,2,9.8,12.9,0.938182
63,Ivan,22051,19.0,298.0,96.0,0.91,0.12,0.06,2513.0,586.0,...,1.20,1.0,8,Ivan,"AL, FL",2004,3,20.5,27.1,1.970909
7,Frances,72127,32.0,0.0,0.0,0.00,0.21,0.00,2513.0,474.0,...,0.00,1.0,15,Frances,FL,2004,2,9.8,12.9,0.938182
119,Wilma,12011,127.0,406.0,879.0,0.96,0.19,0.12,14410.0,773.0,...,0.95,1.0,9,Wilma,FL,2005,3,19.0,24.3,2.777143

In [26]:
wages.head(10)

,year,quarter,area_fips,area_title,quarterly_establishments,month_3_employment,month_3_employment_percent_change_oty,month_3_employment_rank,average_weekly_wages,average_weekly_wages_percent_change_oty,...,quarter.3,area_fips.3,area_title.3,quarterly_establishments.3,month_3_employment.3,month_3_employment_percent_change_oty.3,month_3_employment_rank.3,average_weekly_wages.3,average_weekly_wages_percent_change_oty.3,average_weekly_wages_rank.3
45,2004,1,12011,"Broward, FL",57900,693700,0.8,163,707,5.8,...,4,12011,"Broward, FL",59200,716600,3.6,46,802,7.5,47
42,2004,1,12021,"Collier, FL",10500,126300,3.3,38,636,5.0,...,4,12021,"Collier, FL",10900,129500,5.0,17,741,5.3,159
46,2004,1,12086,"Miami-Dade, FL",81600,982900,0.9,154,729,5.2,...,4,12086,"Miami-Dade, FL",83200,1007100,2.4,95,822,6.3,105
28,2004,1,12095,"Orange, FL",30100,621100,3.1,46,688,5.0,...,4,12095,"Orange, FL",30800,645000,4.4,30,757,6.5,89
43,2004,1,12095,"Orange, FL",30100,621100,3.1,46,688,5.0,...,4,12095,"Orange, FL",30800,645000,4.4,30,757,6.5,89
47,2004,1,12095,"Orange, FL",30100,621100,3.1,46,688,5.0,...,4,12095,"Orange, FL",30800,645000,4.4,30,757,6.5,89
44,2004,1,12099,"Palm Beach, FL",43600,524300,2.0,80,728,2.2,...,4,12099,"Palm Beach, FL",44600,547500,4.7,23,815,4.8,193
27,2004,1,22051,"Jefferson, LA",13800,212600,0.0,224,604,3.4,...,4,22051,"Jefferson, LA",14000,215500,0.3,255,687,6.0,117
48,2004,1,72127,"San Juan, PR",12900,322800,1.7,93,487,6.3,...,4,72127,"San Juan, PR",13600,338000,1.0,203,535,4.3,227
23,2005,2,12011,"Broward, FL",61100,718100,2.5,87,743,5.1,...,1,12011,"Broward, FL",63300,753500,3.3,72,791,[ND],-

In [27]:
wages_clean=wages.reset_index(drop=True)
new_df_clean=new_df.reset_index(drop=True)

In [28]:
df_fin=pd.merge(new_df_clean,wages_clean,right_index=True,left_index=True)

In [29]:
df_fin.shape

(56, 832)

In [30]:
df_fin.to_csv('../datasets/MergedData.csv',index=False)

In [31]:
df = pd.read_csv('../datasets/MergedData.csv')

In [32]:
for i in df.columns:
    print(i)

geoid
area_fips_x
qtrly_estabs_11_agriculture_forestry_fishing_and_hunting
avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting
month3_emplvl_11_agriculture_forestry_fishing_and_hunting
lq_avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting
lq_qtrly_estabs_11_agriculture_forestry_fishing_and_hunting
lq_month3_emplvl_11_agriculture_forestry_fishing_and_hunting
qtrly_estabs_1024_professional_and_business_services
avg_wkly_wage_1024_professional_and_business_services
month3_emplvl_1024_professional_and_business_services
lq_avg_wkly_wage_1024_professional_and_business_services
lq_qtrly_estabs_1024_professional_and_business_services
lq_month3_emplvl_1024_professional_and_business_services
qtrly_estabs_61_educational_services
avg_wkly_wage_61_educational_services
month3_emplvl_61_educational_services
lq_avg_wkly_wage_61_educational_services
lq_qtrly_estabs_61_educational_services
lq_month3_emplvl_61_educational_services
qtrly_estabs_53_real_estate_and_rental_and_leasing
avg_wkly_wage_53_real_estate_and_rental_and_leasing
month3_emplvl_53_real_estate_and_rental_and_leasing
lq_avg_wkly_wage_53_real_estate_and_rental_and_leasing
lq_qtrly_estabs_53_real_estate_and_rental_and_leasing
lq_month3_emplvl_53_real_estate_and_rental_and_leasing
qtrly_estabs_1023_financial_activities
avg_wkly_wage_1023_financial_activities
month3_emplvl_1023_financial_activities
lq_avg_wkly_wage_1023_financial_activities
lq_qtrly_estabs_1023_financial_activities
lq_month3_emplvl_1023_financial_activities
qtrly_estabs_31_33_manufacturing
avg_wkly_wage_31_33_manufacturing
month3_emplvl_31_33_manufacturing
lq_avg_wkly_wage_31_33_manufacturing
lq_qtrly_estabs_31_33_manufacturing
lq_month3_emplvl_31_33_manufacturing
qtrly_estabs_23_construction
avg_wkly_wage_23_construction
month3_emplvl_23_construction
lq_avg_wkly_wage_23_construction
lq_qtrly_estabs_23_construction
lq_month3_emplvl_23_construction
qtrly_estabs_1029_unclassified
avg_wkly_wage_1029_unclassified
month3_emplvl_1029_unclassified
lq_avg_wkly_wage_1029_unclassified
lq_qtrly_estabs_1029_unclassified
lq_month3_emplvl_1029_unclassified
qtrly_estabs_71_arts_entertainment_and_recreation
avg_wkly_wage_71_arts_entertainment_and_recreation
month3_emplvl_71_arts_entertainment_and_recreation
lq_avg_wkly_wage_71_arts_entertainment_and_recreation
lq_qtrly_estabs_71_arts_entertainment_and_recreation
lq_month3_emplvl_71_arts_entertainment_and_recreation
qtrly_estabs_1011_natural_resources_and_mining
avg_wkly_wage_1011_natural_resources_and_mining
month3_emplvl_1011_natural_resources_and_mining
lq_avg_wkly_wage_1011_natural_resources_and_mining
lq_qtrly_estabs_1011_natural_resources_and_mining
lq_month3_emplvl_1011_natural_resources_and_mining
qtrly_estabs_54_professional_and_technical_services
avg_wkly_wage_54_professional_and_technical_services
month3_emplvl_54_professional_and_technical_services
lq_avg_wkly_wage_54_professional_and_technical_services
lq_qtrly_estabs_54_professional_and_technical_services
lq_month3_emplvl_54_professional_and_technical_services
qtrly_estabs_1026_leisure_and_hospitality
avg_wkly_wage_1026_leisure_and_hospitality
month3_emplvl_1026_leisure_and_hospitality
lq_avg_wkly_wage_1026_leisure_and_hospitality
lq_qtrly_estabs_1026_leisure_and_hospitality
lq_month3_emplvl_1026_leisure_and_hospitality
qtrly_estabs_1022_information
avg_wkly_wage_1022_information
month3_emplvl_1022_information
lq_avg_wkly_wage_1022_information
lq_qtrly_estabs_1022_information
lq_month3_emplvl_1022_information
qtrly_estabs_72_accommodation_and_food_services
avg_wkly_wage_72_accommodation_and_food_services
month3_emplvl_72_accommodation_and_food_services
lq_avg_wkly_wage_72_accommodation_and_food_services
lq_qtrly_estabs_72_accommodation_and_food_services
lq_month3_emplvl_72_accommodation_and_food_services
qtrly_estabs_22_utilities
avg_wkly_wage_22_utilities
month3_emplvl_22_utilities
lq_avg_wkly_wage_22_utilities
lq_qtrly_estabs_22_utilities
lq_month3_emplvl_22_utilities
qtrly_estabs_42_wholesale_trade
avg_wkly_wage_42_wholesale_trade
month3_emplvl_42_wholesale_trade
lq_avg_wkly_wage_42_wholesale_trade
lq_qtrly_estabs_42_wholesale_trade
lq_month3_emplvl_42_wholesale_trade
qtrly_estabs_10_total_all_industries
avg_wkly_wage_10_total_all_industries
month3_emplvl_10_total_all_industries
lq_avg_wkly_wage_10_total_all_industries
lq_qtrly_estabs_10_total_all_industries
lq_month3_emplvl_10_total_all_industries
qtrly_estabs_81_other_services_except_public_administration
avg_wkly_wage_81_other_services_except_public_administration
month3_emplvl_81_other_services_except_public_administration
lq_avg_wkly_wage_81_other_services_except_public_administration
lq_qtrly_estabs_81_other_services_except_public_administration
lq_month3_emplvl_81_other_services_except_public_administration
qtrly_estabs_52_finance_and_insurance
avg_wkly_wage_52_finance_and_insurance
month3_emplvl_52_finance_and_insurance
lq_avg_wkly_wage_52_finance_and_insurance
lq_qtrly_estabs_52_finance_and_insurance
lq_month3_emplvl_52_finance_and_insurance
qtrly_estabs_44_45_retail_trade
avg_wkly_wage_44_45_retail_trade
month3_emplvl_44_45_retail_trade
lq_avg_wkly_wage_44_45_retail_trade
lq_qtrly_estabs_44_45_retail_trade
lq_month3_emplvl_44_45_retail_trade
qtrly_estabs_1013_manufacturing
avg_wkly_wage_1013_manufacturing
month3_emplvl_1013_manufacturing
lq_avg_wkly_wage_1013_manufacturing
lq_qtrly_estabs_1013_manufacturing
lq_month3_emplvl_1013_manufacturing
qtrly_estabs_1027_other_services
avg_wkly_wage_1027_other_services
month3_emplvl_1027_other_services
lq_avg_wkly_wage_1027_other_services
lq_qtrly_estabs_1027_other_services
lq_month3_emplvl_1027_other_services
qtrly_estabs_1025_education_and_health_services
avg_wkly_wage_1025_education_and_health_services
month3_emplvl_1025_education_and_health_services
lq_avg_wkly_wage_1025_education_and_health_services
lq_qtrly_estabs_1025_education_and_health_services
lq_month3_emplvl_1025_education_and_health_services
qtrly_estabs_51_information
avg_wkly_wage_51_information
month3_emplvl_51_information
lq_avg_wkly_wage_51_information
lq_qtrly_estabs_51_information
lq_month3_emplvl_51_information
qtrly_estabs_62_health_care_and_social_assistance
avg_wkly_wage_62_health_care_and_social_assistance
month3_emplvl_62_health_care_and_social_assistance
lq_avg_wkly_wage_62_health_care_and_social_assistance
lq_qtrly_estabs_62_health_care_and_social_assistance
lq_month3_emplvl_62_health_care_and_social_assistance
qtrly_estabs_21_mining_quarrying_and_oil_and_gas_extraction
avg_wkly_wage_21_mining_quarrying_and_oil_and_gas_extraction
month3_emplvl_21_mining_quarrying_and_oil_and_gas_extraction
lq_avg_wkly_wage_21_mining_quarrying_and_oil_and_gas_extraction
lq_qtrly_estabs_21_mining_quarrying_and_oil_and_gas_extraction
lq_month3_emplvl_21_mining_quarrying_and_oil_and_gas_extraction
qtrly_estabs_55_management_of_companies_and_enterprises
avg_wkly_wage_55_management_of_companies_and_enterprises
month3_emplvl_55_management_of_companies_and_enterprises
lq_avg_wkly_wage_55_management_of_companies_and_enterprises
lq_qtrly_estabs_55_management_of_companies_and_enterprises
lq_month3_emplvl_55_management_of_companies_and_enterprises
qtrly_estabs_1012_construction
avg_wkly_wage_1012_construction
month3_emplvl_1012_construction
lq_avg_wkly_wage_1012_construction
lq_qtrly_estabs_1012_construction
lq_month3_emplvl_1012_construction
qtrly_estabs_56_administrative_and_waste_services
avg_wkly_wage_56_administrative_and_waste_services
month3_emplvl_56_administrative_and_waste_services
lq_avg_wkly_wage_56_administrative_and_waste_services
lq_qtrly_estabs_56_administrative_and_waste_services
lq_month3_emplvl_56_administrative_and_waste_services
qtrly_estabs_1021_trade_transportation_and_utilities
avg_wkly_wage_1021_trade_transportation_and_utilities
month3_emplvl_1021_trade_transportation_and_utilities
lq_avg_wkly_wage_1021_trade_transportation_and_utilities
lq_qtrly_estabs_1021_trade_transportation_and_utilities
lq_month3_emplvl_1021_trade_transportation_and_utilities
qtrly_estabs_99_unclassified
avg_wkly_wage_99_unclassified
month3_emplvl_99_unclassified
lq_avg_wkly_wage_99_unclassified
lq_qtrly_estabs_99_unclassified
lq_month3_emplvl_99_unclassified
qtrly_estabs_48_49_transportation_and_warehousing
avg_wkly_wage_48_49_transportation_and_warehousing
month3_emplvl_48_49_transportation_and_warehousing
lq_avg_wkly_wage_48_49_transportation_and_warehousing
lq_qtrly_estabs_48_49_transportation_and_warehousing
lq_month3_emplvl_48_49_transportation_and_warehousing
quarter_x
geoid.1
area_fips.1_x
qtrly_estabs_11_agriculture_forestry_fishing_and_hunting.1
avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting.1
month3_emplvl_11_agriculture_forestry_fishing_and_hunting.1
lq_avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting.1
lq_qtrly_estabs_11_agriculture_forestry_fishing_and_hunting.1
lq_month3_emplvl_11_agriculture_forestry_fishing_and_hunting.1
qtrly_estabs_1024_professional_and_business_services.1
avg_wkly_wage_1024_professional_and_business_services.1
month3_emplvl_1024_professional_and_business_services.1
lq_avg_wkly_wage_1024_professional_and_business_services.1
lq_qtrly_estabs_1024_professional_and_business_services.1
lq_month3_emplvl_1024_professional_and_business_services.1
qtrly_estabs_61_educational_services.1
avg_wkly_wage_61_educational_services.1
month3_emplvl_61_educational_services.1
lq_avg_wkly_wage_61_educational_services.1
lq_qtrly_estabs_61_educational_services.1
lq_month3_emplvl_61_educational_services.1
qtrly_estabs_53_real_estate_and_rental_and_leasing.1
avg_wkly_wage_53_real_estate_and_rental_and_leasing.1
month3_emplvl_53_real_estate_and_rental_and_leasing.1
lq_avg_wkly_wage_53_real_estate_and_rental_and_leasing.1
lq_qtrly_estabs_53_real_estate_and_rental_and_leasing.1
lq_month3_emplvl_53_real_estate_and_rental_and_leasing.1
qtrly_estabs_1023_financial_activities.1
avg_wkly_wage_1023_financial_activities.1
month3_emplvl_1023_financial_activities.1
lq_avg_wkly_wage_1023_financial_activities.1
lq_qtrly_estabs_1023_financial_activities.1
lq_month3_emplvl_1023_financial_activities.1
qtrly_estabs_31_33_manufacturing.1
avg_wkly_wage_31_33_manufacturing.1
month3_emplvl_31_33_manufacturing.1
lq_avg_wkly_wage_31_33_manufacturing.1
lq_qtrly_estabs_31_33_manufacturing.1
lq_month3_emplvl_31_33_manufacturing.1
qtrly_estabs_23_construction.1
avg_wkly_wage_23_construction.1
month3_emplvl_23_construction.1
lq_avg_wkly_wage_23_construction.1
lq_qtrly_estabs_23_construction.1
lq_month3_emplvl_23_construction.1
qtrly_estabs_1029_unclassified.1
avg_wkly_wage_1029_unclassified.1
month3_emplvl_1029_unclassified.1
lq_avg_wkly_wage_1029_unclassified.1
lq_qtrly_estabs_1029_unclassified.1
lq_month3_emplvl_1029_unclassified.1
qtrly_estabs_71_arts_entertainment_and_recreation.1
avg_wkly_wage_71_arts_entertainment_and_recreation.1
month3_emplvl_71_arts_entertainment_and_recreation.1
lq_avg_wkly_wage_71_arts_entertainment_and_recreation.1
lq_qtrly_estabs_71_arts_entertainment_and_recreation.1
lq_month3_emplvl_71_arts_entertainment_and_recreation.1
qtrly_estabs_1011_natural_resources_and_mining.1
avg_wkly_wage_1011_natural_resources_and_mining.1
month3_emplvl_1011_natural_resources_and_mining.1
lq_avg_wkly_wage_1011_natural_resources_and_mining.1
lq_qtrly_estabs_1011_natural_resources_and_mining.1
lq_month3_emplvl_1011_natural_resources_and_mining.1
qtrly_estabs_54_professional_and_technical_services.1
avg_wkly_wage_54_professional_and_technical_services.1
month3_emplvl_54_professional_and_technical_services.1
lq_avg_wkly_wage_54_professional_and_technical_services.1
lq_qtrly_estabs_54_professional_and_technical_services.1
lq_month3_emplvl_54_professional_and_technical_services.1
qtrly_estabs_1026_leisure_and_hospitality.1
avg_wkly_wage_1026_leisure_and_hospitality.1
month3_emplvl_1026_leisure_and_hospitality.1
lq_avg_wkly_wage_1026_leisure_and_hospitality.1
lq_qtrly_estabs_1026_leisure_and_hospitality.1
lq_month3_emplvl_1026_leisure_and_hospitality.1
qtrly_estabs_1022_information.1
avg_wkly_wage_1022_information.1
month3_emplvl_1022_information.1
lq_avg_wkly_wage_1022_information.1
lq_qtrly_estabs_1022_information.1
lq_month3_emplvl_1022_information.1
qtrly_estabs_72_accommodation_and_food_services.1
avg_wkly_wage_72_accommodation_and_food_services.1
month3_emplvl_72_accommodation_and_food_services.1
lq_avg_wkly_wage_72_accommodation_and_food_services.1
lq_qtrly_estabs_72_accommodation_and_food_services.1
lq_month3_emplvl_72_accommodation_and_food_services.1
qtrly_estabs_22_utilities.1
avg_wkly_wage_22_utilities.1
month3_emplvl_22_utilities.1
lq_avg_wkly_wage_22_utilities.1
lq_qtrly_estabs_22_utilities.1
lq_month3_emplvl_22_utilities.1
qtrly_estabs_42_wholesale_trade.1
avg_wkly_wage_42_wholesale_trade.1
month3_emplvl_42_wholesale_trade.1
lq_avg_wkly_wage_42_wholesale_trade.1
lq_qtrly_estabs_42_wholesale_trade.1
lq_month3_emplvl_42_wholesale_trade.1
qtrly_estabs_10_total_all_industries.1
avg_wkly_wage_10_total_all_industries.1
month3_emplvl_10_total_all_industries.1
lq_avg_wkly_wage_10_total_all_industries.1
lq_qtrly_estabs_10_total_all_industries.1
lq_month3_emplvl_10_total_all_industries.1
qtrly_estabs_81_other_services_except_public_administration.1
avg_wkly_wage_81_other_services_except_public_administration.1
month3_emplvl_81_other_services_except_public_administration.1
lq_avg_wkly_wage_81_other_services_except_public_administration.1
lq_qtrly_estabs_81_other_services_except_public_administration.1
lq_month3_emplvl_81_other_services_except_public_administration.1
qtrly_estabs_52_finance_and_insurance.1
avg_wkly_wage_52_finance_and_insurance.1
month3_emplvl_52_finance_and_insurance.1
lq_avg_wkly_wage_52_finance_and_insurance.1
lq_qtrly_estabs_52_finance_and_insurance.1
lq_month3_emplvl_52_finance_and_insurance.1
qtrly_estabs_44_45_retail_trade.1
avg_wkly_wage_44_45_retail_trade.1
month3_emplvl_44_45_retail_trade.1
lq_avg_wkly_wage_44_45_retail_trade.1
lq_qtrly_estabs_44_45_retail_trade.1
lq_month3_emplvl_44_45_retail_trade.1
qtrly_estabs_1013_manufacturing.1
avg_wkly_wage_1013_manufacturing.1
month3_emplvl_1013_manufacturing.1
lq_avg_wkly_wage_1013_manufacturing.1
lq_qtrly_estabs_1013_manufacturing.1
lq_month3_emplvl_1013_manufacturing.1
qtrly_estabs_1027_other_services.1
avg_wkly_wage_1027_other_services.1
month3_emplvl_1027_other_services.1
lq_avg_wkly_wage_1027_other_services.1
lq_qtrly_estabs_1027_other_services.1
lq_month3_emplvl_1027_other_services.1
qtrly_estabs_1025_education_and_health_services.1
avg_wkly_wage_1025_education_and_health_services.1
month3_emplvl_1025_education_and_health_services.1
lq_avg_wkly_wage_1025_education_and_health_services.1
lq_qtrly_estabs_1025_education_and_health_services.1
lq_month3_emplvl_1025_education_and_health_services.1
qtrly_estabs_51_information.1
avg_wkly_wage_51_information.1
month3_emplvl_51_information.1
lq_avg_wkly_wage_51_information.1
lq_qtrly_estabs_51_information.1
lq_month3_emplvl_51_information.1
qtrly_estabs_62_health_care_and_social_assistance.1
avg_wkly_wage_62_health_care_and_social_assistance.1
month3_emplvl_62_health_care_and_social_assistance.1
lq_avg_wkly_wage_62_health_care_and_social_assistance.1
lq_qtrly_estabs_62_health_care_and_social_assistance.1
lq_month3_emplvl_62_health_care_and_social_assistance.1
qtrly_estabs_21_mining_quarrying_and_oil_and_gas_extraction.1
avg_wkly_wage_21_mining_quarrying_and_oil_and_gas_extraction.1
month3_emplvl_21_mining_quarrying_and_oil_and_gas_extraction.1
lq_avg_wkly_wage_21_mining_quarrying_and_oil_and_gas_extraction.1
lq_qtrly_estabs_21_mining_quarrying_and_oil_and_gas_extraction.1
lq_month3_emplvl_21_mining_quarrying_and_oil_and_gas_extraction.1
qtrly_estabs_55_management_of_companies_and_enterprises.1
avg_wkly_wage_55_management_of_companies_and_enterprises.1
month3_emplvl_55_management_of_companies_and_enterprises.1
lq_avg_wkly_wage_55_management_of_companies_and_enterprises.1
lq_qtrly_estabs_55_management_of_companies_and_enterprises.1
lq_month3_emplvl_55_management_of_companies_and_enterprises.1
qtrly_estabs_1012_construction.1
avg_wkly_wage_1012_construction.1
month3_emplvl_1012_construction.1
lq_avg_wkly_wage_1012_construction.1
lq_qtrly_estabs_1012_construction.1
lq_month3_emplvl_1012_construction.1
qtrly_estabs_56_administrative_and_waste_services.1
avg_wkly_wage_56_administrative_and_waste_services.1
month3_emplvl_56_administrative_and_waste_services.1
lq_avg_wkly_wage_56_administrative_and_waste_services.1
lq_qtrly_estabs_56_administrative_and_waste_services.1
lq_month3_emplvl_56_administrative_and_waste_services.1
qtrly_estabs_1021_trade_transportation_and_utilities.1
avg_wkly_wage_1021_trade_transportation_and_utilities.1
month3_emplvl_1021_trade_transportation_and_utilities.1
lq_avg_wkly_wage_1021_trade_transportation_and_utilities.1
lq_qtrly_estabs_1021_trade_transportation_and_utilities.1
lq_month3_emplvl_1021_trade_transportation_and_utilities.1
qtrly_estabs_99_unclassified.1
avg_wkly_wage_99_unclassified.1
month3_emplvl_99_unclassified.1
lq_avg_wkly_wage_99_unclassified.1
lq_qtrly_estabs_99_unclassified.1
lq_month3_emplvl_99_unclassified.1
qtrly_estabs_48_49_transportation_and_warehousing.1
avg_wkly_wage_48_49_transportation_and_warehousing.1
month3_emplvl_48_49_transportation_and_warehousing.1
lq_avg_wkly_wage_48_49_transportation_and_warehousing.1
lq_qtrly_estabs_48_49_transportation_and_warehousing.1
lq_month3_emplvl_48_49_transportation_and_warehousing.1
quarter.1_x
geoid.2
area_fips.2_x
qtrly_estabs_11_agriculture_forestry_fishing_and_hunting.2
avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting.2
month3_emplvl_11_agriculture_forestry_fishing_and_hunting.2
lq_avg_wkly_wage_11_agriculture_forestry_fishing_and_hunting.2
lq_qtrly_estabs_11_agriculture_forestry_fishing_and_hunting.2
lq_month3_emplvl_11_agriculture_forestry_fishing_and_hunting.2
qtrly_estabs_1024_professional_and_business_services.2
avg_wkly_wage_1024_professional_and_business_services.2
month3_emplvl_1024_professional_and_business_services.2
lq_avg_wkly_wage_1024_professional_and_business_services.2
lq_qtrly_estabs_1024_professional_and_business_services.2
lq_month3_emplvl_1024_professional_and_business_services.2
qtrly_estabs_61_educational_services.2
avg_wkly_wage_61_educational_services.2
month3_emplvl_61_educational_services.2
lq_avg_wkly_wage_61_educational_services.2
lq_qtrly_estabs_61_educational_services.2
lq_month3_emplvl_61_educational_services.2
qtrly_estabs_53_real_estate_and_rental_and_leasing.2
avg_wkly_wage_53_real_estate_and_rental_and_leasing.2
month3_emplvl_53_real_estate_and_rental_and_leasing.2
lq_avg_wkly_wage_53_real_estate_and_rental_and_leasing.2
lq_qtrly_estabs_53_real_estate_and_rental_and_leasing.2
lq_month3_emplvl_53_real_estate_and_rental_and_leasing.2
qtrly_estabs_1023_financial_activities.2
avg_wkly_wage_1023_financial_activities.2
month3_emplvl_1023_financial_activities.2
lq_avg_wkly_wage_1023_financial_activities.2
lq_qtrly_estabs_1023_financial_activities.2
lq_month3_emplvl_1023_financial_activities.2
qtrly_estabs_31_33_manufacturing.2
avg_wkly_wage_31_33_manufacturing.2
month3_emplvl_31_33_manufacturing.2
lq_avg_wkly_wage_31_33_manufacturing.2
lq_qtrly_estabs_31_33_manufacturing.2
lq_month3_emplvl_31_33_manufacturing.2
qtrly_estabs_23_construction.2
avg_wkly_wage_23_construction.2
month3_emplvl_23_construction.2
lq_avg_wkly_wage_23_construction.2
lq_qtrly_estabs_23_construction.2
lq_month3_emplvl_23_construction.2
qtrly_estabs_1029_unclassified.2
avg_wkly_wage_1029_unclassified.2
month3_emplvl_1029_unclassified.2
lq_avg_wkly_wage_1029_unclassified.2
lq_qtrly_estabs_1029_unclassified.2
lq_month3_emplvl_1029_unclassified.2
qtrly_estabs_71_arts_entertainment_and_recreation.2
avg_wkly_wage_71_arts_entertainment_and_recreation.2
month3_emplvl_71_arts_entertainment_and_recreation.2
lq_avg_wkly_wage_71_arts_entertainment_and_recreation.2
lq_qtrly_estabs_71_arts_entertainment_and_recreation.2
lq_month3_emplvl_71_arts_entertainment_and_recreation.2
qtrly_estabs_1011_natural_resources_and_mining.2